<div class="search-content__inner-wrap" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
{%- assign search_provider = site.search_provider | default: "lunr" -%}
{%- case search_provider -%}
  {%- when "lunr" -%}
    <meta itemprop="target" content="https://query.donboulton.com/search?q={search_term_string}"/>
    <input type="text" id="search" class="search-input" itemprop="query-input" required name="search_term_string" tabindex="-1" placeholder="{{ site.data.ui-text[site.locale].search_placeholder_text | default: 'Enter your search term...' }}" />
    <div id="results" class="results"></div>
  {%- when "algolia" -%}
    <div class="search-searchbar"></div>
    <div class="search-hits"></div>
{%- endcase -%}
</div>