<div class="search-content__inner-wrap">
    <link itemprop="url" href="https://donboulton.com"/>
{%- assign search_provider = site.search_provider | default: "lunr" -%}
{%- case search_provider -%}
  {%- when "lunr" -%}
    <div itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
      <meta itemprop="target" content="https://query.donboulton.com/search?q={search_term_string}"/>
       <input type="text" id="search" class="search-input" tabindex="-1" required value="search_term_string" name="search_term_string" itemprop="query-input" itemscope itemtype="http://schema.org/PropertyValueSpecification" type="text" placeholder="{{ site.data.ui-text[site.locale].search_placeholder_text | default: 'Enter your search term...' }}" />
    </div>
    <div id="results" class="results"></div>
  {%- when "algolia" -%}
    <div class="search-searchbar"></div>
    <div class="search-hits"></div>
{%- endcase -%}
</div>