<!-- start custom head snippets -->
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/fav-icons/touch-icon-iphone-retina-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/fav-icons/touch-icon-ipad-retina-152x152.png">
<link rel="apple-touch-icon" sizes="57x57" href="/assets/images/fav-icons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/images/fav-icons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/fav-icons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/images/fav-icons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/fav-icons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/images/fav-icons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/fav-icons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/images/fav-icons/apple-touch-icon-152x152.png">
<link rel="icon" type="image/png" href="/assets/images/fav-icons/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/assets/images/fav-icons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/images/fav-icons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/assets/images/fav-icons/android-chrome-192x192.png" sizes="192x192">
<meta name="msapplication-square70x70logo" content="/assets/images/fav-icons/smalltile.png" />
<meta name="msapplication-square150x150logo" content="/assets/images/fav-icons/mediumtile.png" />
<meta name="msapplication-wide310x150logo" content="/assets/images/fav-icons/widetile.png" />
<meta name="msapplication-square310x310logo" content="/assets/images/fav-icons/largetile.png" />
<meta name="msapplication-TileColor" content="#b91d47">

<!-- end custom head snippets -->
