{% raw %}
<script type="text/x-handlebars" data-template-name='cms/preview/authors'>
  {{#cms-preview field="authors" as |author|}}
    <div class="author">
      <h2>{{author.name}}</h2>
      <img src="{{author.avatar}}" class="nc-appHeader-avatar-image nc-appHeader-avatar-placeholder" />
      <div class="description">{{cms-preview field="description" from=author}}</div>
    </div>
  {{/cms-preview}}
</script>
{% endraw %}

<article>
  <div class=" fade" id="updateInfo" tabindex="-1">
    <div class="dialog">
      <form id="updateForm" method="POST">
        <div class="content">
          <div class="header">
            <h4 class="title" id="messageLabel">Update Profile</h4>
          </div>
          <div class="body">
            <div class="form-group">
              <label for="updateFirstName" class="control-label">First Name:</label>
              <input type="text" class="form-control" name="firstName" id="updateFirstName">
            </div>
            <div class="form-group">
              <label for="updateLastName" class="control-label">Last Name:</label>
              <input type="text" class="form-control" name="lastName" id="updateLastName">
            </div>
            <div class="form-group">
              <div class="control-label">Profile Picture:</div>
              <div class="custom-file-container" data-upload-id="myUniqueUploadId">
                <label>Upload File <a href="javascript:void(0)" class="custom-file-container__image-clear" title="Clear Image">x</a></label>

                <label class="custom-file-container__custom-file" >
                    <input type="file" class="custom-file-container__custom-file__custom-file-input" accept="*" multiple>
                    <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
                    <span class="custom-file-container__custom-file__custom-file-control"></span>
                </label>
                <div class="custom-file-container__image-preview"></div>
              </div>
            </div>
            <h3>Location</h3>
            <div class="form-group">
              <label for="city">City</label>
              <input type="text" class="form-control" name="city" id="city" placeholder="Enter City">
            </div>
            <div class="form-group">
              <label for="email">State</label>
              <input type="text" class="form-control" name="state" id="state" placeholder="Enter State">
            </div>
            <div class="form-group">
              <label for="zip">Zip</label>
              <input type="text" class="form-control" name="zip" id="zip" placeholder="Enter Zip Code">
            </div>
          </div>
          <div class="footer">
            <button type="submit" class="btn btn--primary" id="doUpdate">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="fade" id="connectSocialAccounts" tabindex="-1">
    <div class="dialog">
      <form id="connectSocialAccountsForm" method="POST">
        <div class="content">
          <div class="header">
            <h4 class="title">Connect Social Accounts</h4>
          </div>
          <div class="body">
            <div class="form-group">
              <button type="button" class="btn btn--primary linkSocial" id="linkGithub" data-provider="Facebook"><i class="fa fa-facebook"></i> Connect GitHub</button>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn--primary linkSocial" id="linkTwitter" data-provider="Twitter"><i class="fa fa-twitter"></i> Connect Twitter</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <h2>Send Push Message</h2>

  <p>Clicking "Trigger Push Message" will make
    an API request to "/api/trigger-push-msg" (i.e. an API call to our
    node backend) and that will trigger a push message to all our users.
  </p>

  <p>Feel free to change the text to anything you want.</p>

  <div class="push-data">
    <textarea rows="10" class="js-push-content push-content-text" disabled>{
"notification": {
  "title": "Example Title",
  "body": "This will be the body text for the notification.",
  "icon": "/assets/fav-icons/fav-icon-512x512.png"
}
}</textarea>

    <button class="js-trigger-push-msg" disabled>Trigger Push Message</button>
  </div>

  <button class="js-notification-overview" disabled>Example Notification</button>

  <h2>Subscriber List</h2>

  <table>
    <thead>
      <th>Database ID</th>
      <th>Endpoint</th>
    </thead>
    <tbody class="js-subscriber-table-body">

    </tbody>
  </table>

  <h3>Please Note</h3>

  <p>You'd want this page to be restricted some how, perhaps by login or
  could be a restricted application then is only accessible locally.</p>
</main>
</article>