<article>
  <div class="fade" id="updateInfo" tabindex="-1">
    <div class="dialog">
      <form id="userUpdateForm" method="POST" onsubmit="return checkForm(this);" netlify-honeypot="bot-field" netlify-recaptcha netlify>
        <div class="content">
          <div class="header">
            <h4 class="title" id="messageLabel">Update Profile</h4>
          </div>
          <div class="body">
            <div class="form-group">
              <label for="updateFirstName" class="control-label">First Name&nbsp;<abbr class="abbr" title="Required">*</abbr></label>
              <input type="text" class="form-control" name="firstName" required="required" aria-required="true" id="updateFirstName" pattern="^([- \w\d\u00c0-\u024f]+)$">
            </div>
            <div class="form-group">
              <label for="updateLastName" class="control-label">Last Name&nbsp;<abbr class="abbr" title="Required">*</abbr></label>
              <input type="text" class="form-control" name="lastName" required="required" aria-required="true" id="updateLastName" pattern="^([- \w\d\u00c0-\u024f]+)$">
            </div>
            <div class="form-group">
              <label for="email">Email Address&nbsp;<abbr class="abbr" title="Required">*</abbr></label>
              <input type="email" name="email" id="email" value="" required="required" aria-required="true" pattern="^(([-\w\d]+)(\.[-\w\d]+)*@([-\w\d]+)(\.[-\w\d]+)*(\.([a-zA-Z]{2,5}|[\d]{1,3})){1,2})$" title="Your email address" type="email" spellcheck="false" placeholder="Enter your email..." inputmode="email">
            </div>
            <div class="form-group">
              <label for="url">Website</label>
              <input type="url" name="url" id="url" pattern="^(http[s]?:\/\/)?([-\w\d]+)(\.[-\w\d]+)*(\.([a-zA-Z]{2,5}|[\d]{1,3})){1,2}(\/([-~%\.\(\)\w\d]*\/*)*(#[-\w\d]+)?)?$" title="Your website address" type="url" spellcheck="false" size="30" inputmode="url">
            </div>
            <h3>Location</h3>
            <div class="form-group">
              <label for="city">City</label>
              <input type="text" class="form-control" name="city" id="city" placeholder="Enter City">
            </div>
            <div class="form-group">
              <label for="email">State</label>
              <input type="text" class="form-control" name="state" id="state" placeholder="Enter State">
            </div>
            <div class="form-group">
              <label for="zip">Zip</label>
              <input type="text" class="form-control" name="zip" id="zip" placeholder="Enter Zip Code">
            </div>
            <div class="form-group">
              <label for="Bio">Bio&nbsp;<abbr class="abbr" title="Required">*</abbr>&nbsp;<small>(<a href="https://kramdown.gettalong.org/quickref.html">Markdown</a> is allowed)</small></label>
              <textarea name="Bio" id="message" maxlength="200" rows="6" spellcheck="true" placeholder="Your Personal Info..." value="" required="required" aria-required="true"></textarea>
            </div>
          </div>
          <div class="demo-upload-container">

            <div class="custom-file-container hidden" data-upload-id="myFirstImage">
                <label>Upload (Single File) <a href="javascript:void(0)" class="custom-file-container__image-clear" title="Clear Image">&times;</a></label>
                <label class="custom-file-container__custom-file" >
                    <input type="file" class="custom-file-container__custom-file__custom-file-input" accept="image/*">
                    <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
                    <span class="custom-file-container__custom-file__custom-file-control"></span>
                </label>
                <div class="custom-file-container__image-preview"></div>
            </div>

            <div class="custom-file-container" data-upload-id="mySecondImage">
                <label>Upload Profile Image (Allow Multiple) <a href="javascript:void(0)" class="custom-file-container__image-clear" title="Clear Image">&times;</a></label>
                <label class="custom-file-container__custom-file" >
                    <input type="file" class="custom-file-container__custom-file__custom-file-input" onchange="readURL(this);" accept="*" multiple>
                    <img id="blah" src="/assets/images/180.png" alt="your image" />
                    <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
                    <span class="custom-file-container__custom-file__custom-file-control"></span>
                </label>
                <div class="custom-file-container__image-preview"></div>
            </div>  
            <div>Please Agree to Our <a href="https://donboulton.com/terms">Terms and Conditions</a>&nbsp;<abbr class="abbr" title="Required">&nbsp;*&nbsp;</abbr></div>
            <div class="checkbox_wrapper">
                <label class="checkbox-label" for="checkbox">
                    <div class="checkbox_wrapper">
                      <input aria-label="Terms Checkbox" type="checkbox" id="checkbox" name="conditions" value="conditions" required>
                      <span class="custom"></span>
                        <svg class="true_icon" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
                        <path d="M27 4l-15 15-7-7-5 5 12 12 20-20z" />
                        </svg>
                        <svg version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32" class="false_icon">
                        <path d="M31.708 25.708c-0-0-0-0-0-0l-9.708-9.708 9.708-9.708c0-0 0-0 0-0 0.105-0.105 0.18-0.227 0.229-0.357 0.133-0.356 0.057-0.771-0.229-1.057l-4.586-4.586c-0.286-0.286-0.702-0.361-1.057-0.229-0.13 0.048-0.252 0.124-0.357 0.228 0 0-0 0-0 0l-9.708 9.708-9.708-9.708c-0-0-0-0-0-0-0.105-0.104-0.227-0.18-0.357-0.228-0.356-0.133-0.771-0.057-1.057 0.229l-4.586 4.586c-0.286 0.286-0.361 0.702-0.229 1.057 0.049 0.13 0.124 0.252 0.229 0.357 0 0 0 0 0 0l9.708 9.708-9.708 9.708c-0 0-0 0-0 0-0.104 0.105-0.18 0.227-0.229 0.357-0.133 0.355-0.057 0.771 0.229 1.057l4.586 4.586c0.286 0.286 0.702 0.361 1.057 0.229 0.13-0.049 0.252-0.124 0.357-0.229 0-0 0-0 0-0l9.708-9.708 9.708 9.708c0 0 0 0 0 0 0.105 0.105 0.227 0.18 0.357 0.229 0.356 0.133 0.771 0.057 1.057-0.229l4.586-4.586c0.286-0.286 0.362-0.702 0.229-1.057-0.049-0.13-0.124-0.252-0.229-0.357z" />
                        </svg>
                    </div>
                </label>
            </div>
            <p class="hidden">
                <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
              </p>
            <div data-netlify-recaptcha class="dark"></div>
            <div class="form-group">
                <input type="submit" id="submit_button" name="submit_button" value="Send Message" class="btn btn--primary">
            </div>
          
        </div>
        <div>Please Agree to Our <a href="https://donboulton.com/terms">Terms and Conditions</a>&nbsp;<abbr class="abbr" title="Required">&nbsp;*&nbsp;</abbr></div>
        <div class="checkbox_wrapper">
            <label class="checkbox-label" for="checkbox">
                <div class="checkbox_wrapper">
                  <input aria-label="Terms Checkbox" type="checkbox" id="checkbox" name="conditions" value="conditions" required>
                  <span class="custom"></span>
                    <svg class="true_icon" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
                    <path d="M27 4l-15 15-7-7-5 5 12 12 20-20z" />
                    </svg>
                    <svg version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32" class="false_icon">
                    <path d="M31.708 25.708c-0-0-0-0-0-0l-9.708-9.708 9.708-9.708c0-0 0-0 0-0 0.105-0.105 0.18-0.227 0.229-0.357 0.133-0.356 0.057-0.771-0.229-1.057l-4.586-4.586c-0.286-0.286-0.702-0.361-1.057-0.229-0.13 0.048-0.252 0.124-0.357 0.228 0 0-0 0-0 0l-9.708 9.708-9.708-9.708c-0-0-0-0-0-0-0.105-0.104-0.227-0.18-0.357-0.228-0.356-0.133-0.771-0.057-1.057 0.229l-4.586 4.586c-0.286 0.286-0.361 0.702-0.229 1.057 0.049 0.13 0.124 0.252 0.229 0.357 0 0 0 0 0 0l9.708 9.708-9.708 9.708c-0 0-0 0-0 0-0.104 0.105-0.18 0.227-0.229 0.357-0.133 0.355-0.057 0.771 0.229 1.057l4.586 4.586c0.286 0.286 0.702 0.361 1.057 0.229 0.13-0.049 0.252-0.124 0.357-0.229 0-0 0-0 0-0l9.708-9.708 9.708 9.708c0 0 0 0 0 0 0.105 0.105 0.227 0.18 0.357 0.229 0.356 0.133 0.771 0.057 1.057-0.229l4.586-4.586c0.286-0.286 0.362-0.702 0.229-1.057-0.049-0.13-0.124-0.252-0.229-0.357z" />
                    </svg>
                </div>
            </label>
        </div>
        <p class="hidden">
            <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
          </p>
        <div data-netlify-recaptcha class="dark"></div>
        <div class="form-group">
            <input type="submit" id="submit_button" name="submit_button" value="Update Info" class="btn btn--primary">
        </div>
      
        </div>
        <div> 
          <input type="hidden" name="_replyto" value="{{ page.email }}">
          <input type="hidden" name="_cc" value="donboulton@hotmail.com">
          <input type="hidden" name="contact-form" value="contact" />
          <input type="hidden" name="_subject" value="Website donboulton Contact Form" />
          <input type="hidden" name="_next" value="https://donboulton.com/thanks/" />
          <input type="text" name="_gotcha" style="display: none;" />
          <input type="hidden" name="_language" value="en" />
          <input type="hidden" name="SITE_RECAPTCHA_KEY" value="6LerR1MUAAAAACWH7t30s7V4aApQZaIVVPcvH21X">
          <input type="hidden" name="SITE_RECAPTCHA_SECRET" value="{{ site.reCaptcha.secret }}">
        </div>
      </form>
    </div>
  </div>
  <div class="WebPush hidden">
      <form method="post" action="/api/webpush/subscribe">
        <div>
            <div class="form-group">
              <label for="text-title">Title</label>
              <input type="text" id="text-title" name="text-title" />
            </div>
            <div class="form-group">
              <label for="text-body">Body</label>
              <input type="text" id="text-body" name="text-body" />
            </div>
            <div class="form-group">
              <label for="url-icon">Url for Icon</label>
              <input type="url" id="url-icon" name="url-icon" />
            </div>
            <div class="form-group">
              <label for="url-link">Link</label>
              <input type="url" id="url-link" name="url-link" />
            </div>
            <div class="form-group">
               <button class="btn btn--primary" type="submit">Web Push</button>
            </div>
        </div>
      </form>
  </div>
</article>
</div>
<script type="text/javascript">
  function disableBtn(){
    document.getElementById("submit_button").disabled = true;
  }
  function enableBtn(){
     document.getElementById("submit_button").disabled = false;
  }
</script>
