---
layout: default
author_profile: true
comments: false
sidenav: true
reviews: false
adds: true
toc: true
sidenav: true
support: [adds]
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="index inner">
    <div>{{ content }}</div>

    <div>
      <header class="section-title">
        <h2>
          {% if page.alt_title %}
            {{ page.alt_title | markdownify | remove: '<p>' | remove: '</p>' }}
          {% elsif page.autopages %}
            {{ page.autopages.display_name }}
          {% else %}
            {{ page.title | markdownify | remove: '<p>' | remove: '</p>' }}
          {% endif %}
        </h2>
      </header>
      <div class="entries">
        {% include posts-paginated.html %}
      </div>
    </div>
    <aside class="sidebar__right" role="complementary" itemscope itemtype="https://schema.org/WPSideBar">
      {% if page.toc %}
         <nav class="toc">
           <header><h4 class="nav__title"><svg class="icon icon--file-alt fa-file-alt" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-file-alt' | prepend: '/build/icons/' | relative_url }}"></use></svg>&nbsp;<span itemprop="name">{{ page.toc_label | default: site.data.ui-text[site.locale].toc_label }}</span></h4></header>
           {% include toc.html sanitize=true html=content h_min=2 h_max=3 class="toc__menu" %}
         </nav>
      {% endif %}
      {% if page.sidenav-gallery == true %}
         {% include sidenav-gallery.html %}
      {% endif %}
      {% if page.sidenav == true %}
         {% include sidenav.html %}
      {% endif %}
      {% if page.reviews == true %}
         {% include reviews-sidebar.html %}
      {% endif %}
      {% if page.reviews-sidebar == true %}
         {% include reviews-sidebar.html %}
      {% endif %}
      {% if page.adds == true %}
         {% include google-adds.html %}
      {% endif %}          
         {% include sidebar-react.html %}
      {% if page.notifications-admin == true %}
        {% include sidebar-subscribe-admin.html %}
      {% endif %}
      {% if page.notifications == true %}
        {% include sidebar-subscribe.html %}
      {% endif %}
    </aside>
    {% include footer.html %}
  </div>
</main>
