{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}

<div itemscope itemtype="http://schema.org/Person">

  {% if author.avatar %}
    <div class="author__avatar">
      {% if author.avatar contains "://" %}
        {% assign author_src = author.avatar %}
      {% else %}
        {% assign author_src = author.avatar | absolute_url %}
      {% endif %}

      {% if author.home %}
        {% if author.home contains "://" %}
          {% assign author_link = author.home %}
        {% else %}
          {% assign author_link = author.home | absolute_url %}
        {% endif %}
        <a href="{{ author_link }}">
          <img src="{{ author_src }}" alt="{{ author.name }}" itemprop="image">
        </a>
      {% else %}
        <img src="{{ author_src }}" alt="{{ author.name }}" itemprop="image">
      {% endif %}
    </div>
  {% endif %}

  <div class="author__content">
    {% if author.home %}
      <a href="{{ author_link }}"><h3 class="author__name" itemprop="name">{{ author.name }}</h3></a>
    {% else %}
      <h3 class="author__name" itemprop="name">{{ author.name }}</h3>
    {% endif %}
    {% if author.bio %}
      <p class="author__bio" itemprop="description">
        {{ author.bio }}
      </p>
    {% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--info">{{ site.data.ui-text[site.locale].follow_label | remove: ":" | default: "Follow" }}</button>
    <ul class="author__urls social-icons">
      {% if author.location %}
        <li itemprop="homeLocation" itemscope itemtype="http://schema.org/Place" target="_blank">
          <svg class="icon icon--location fa-location" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-map-marker-alt' | prepend: 'assets/icons/' | relative_url }}"></use></svg><span itemprop="name">{{ author.location }}</span>
        </li>
      {% endif %}

      {% if author.uri %}
        <li>
          <a href="{{ author.uri }}" itemprop="url" target="_blank">
            <svg class="icon icon--link fa-link" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-link' | prepend: 'assets/icons/' | relative_url }}"></use></svg> {{ site.data.ui-text[site.locale].website_label | default: "Website" }}
          </a>
        </li>
      {% endif %}

      {% if author.email %}
        <li>
          <a rel="me" href="mailto:{{ author.email }}">
            <meta itemprop="email" content="{{ author.email }}" />
            <svg class="icon icon--email fa-email" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-email' | prepend: 'assets/icons/' | relative_url }}"></use></svg> {{ site.data.ui-text[site.locale].email_label | default: "Email" }}
          </a>
        </li>
      {% endif %}

      {% if author.keybase %}
        <li>
          <a href="https://keybase.io/{{ author.keybase }}" itemprop="sameAs" target="_blank">
            <svg class="icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M512 176.001C512 273.203 433.202 352 336 352c-11.22 0-22.19-1.062-32.827-3.069l-24.012 27.014A23.999 23.999 0 0 1 261.223 384H224v40c0 13.255-10.745 24-24 24h-40v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24v-78.059c0-6.365 2.529-12.47 7.029-16.971l161.802-161.802C163.108 213.814 160 195.271 160 176 160 78.798 238.797.001 335.999 0 433.488-.001 512 78.511 512 176.001zM336 128c0 26.51 21.49 48 48 48s48-21.49 48-48-21.49-48-48-48-48 21.49-48 48z"/></svg> Keybase
          </a>
        </li>
      {% endif %}

      {% if author.twitter %}
        <li>
          <a rel="me" href="https://twitter.com/intent/tweet?{% if site.twitter.username %}via={{ site.twitter.username | url_encode }}&{% endif %}text={{ page.title | url_encode }}%20{{ page.url | absolute_url | url_encode }}" onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Twitter">
            <svg class="icon icon--twitter fa-twitter" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-twitter' | prepend: 'assets/icons/' | relative_url }}"></use></svg> <span> Twitter</span></a>
        </li>
      {% endif %}

      {% if author.facebook %}
        <li>
          <a rel="me" target="_blank" href="https://www.facebook.com/{{ author.facebook }}" itemprop="sameAs">
            <svg class="icon icon--email fa-email" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-facebook' | prepend: 'assets/icons/' | relative_url }}"></use></svg>  Facebook
          </a>
        </li>
      {% endif %}

      {% if author.google_plus %}
        <li>
          <a rel="me" href="https://plus.google.com/share?url={{ page.url | absolute_url | url_encode }}" onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Google Plus">
            <svg class="icon icon--google-plus fa-google-plus" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-google-plus-g' | prepend: 'assets/icons/' | relative_url }}"></use></svg> Google+
          </a>
        </li>
      {% endif %}

      {% if author.xing %}
        <li>
          <a target="_blank" href="https://www.xing.com/profile/{{ author.xing }}" itemprop="sameAs">
            <i class="fab fa-fw fa-xing-square" aria-hidden="true"></i> XING
          </a>
        </li>
      {% endif %}

      {% if author.instagram %}
        <li>
          <a target="_blank" href="https://instagram.com/{{ author.instagram }}" itemprop="sameAs">
            <svg class="icon icon--instagram fa-instagram" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-instagram' | prepend: 'assets/icons/' | relative_url }}"></use></svg> Instagram
          </a>
        </li>
      {% endif %}

      {% if author.tumblr %}
        <li>
          <a target="_blank" href="https://{{ author.tumblr }}.tumblr.com" itemprop="sameAs">
            <i class="fab fa-fw fa-tumblr-square" aria-hidden="true"></i> Tumblr
          </a>
        </li>
      {% endif %}

      {% if author.bitbucket %}
        <li>
          <a target="_blank" href="https://bitbucket.org/{{ author.bitbucket }}" itemprop="sameAs">
            <i class="fab fa-fw fa-bitbucket" aria-hidden="true"></i> Bitbucket
          </a>
        </li>
      {% endif %}

      {% if author.github %}
        <li>
          <a rel="me" href="https://github.com/{{ author.github }}" itemprop="sameAs" target="_blank">
            <svg class="icon icon--github fa-github" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-github' | prepend: 'assets/icons/' | relative_url }}"></use></svg> GitHub
          </a>
        </li>
      {% endif %}

      {% if author.gitlab %}
        <li>
          <a rel="me" href="https://gitlab.com/{{ author.gitlab }}" itemprop="sameAs" target="_blank">
            <svg class="icon icon--gitlab fa-gitlab" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-gitlab' | prepend: 'assets/icons/' | relative_url }}"></use></svg> GitLab
          </a>
        </li>
      {% endif %}

      {% if author.stackoverflow %}
        <li>
          <a rel="me" href="https://www.stackoverflow.com/users/{{ author.stackoverflow }}" itemprop="sameAs" target="_blank">
            <svg class="icon fa-stack-overflow" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M293.7 300l-181.2-84.5 16.7-36.5 181.3 84.7-16.8 36.3zm48-76L188.2 95.7l-25.5 30.8 153.5 128.3 25.5-30.8zm39.6-31.7L262 32l-32 24 119.3 160.3 32-24zM290.7 311L95 269.7 86.8 309l195.7 41 8.2-39zm31.6 129H42.7V320h-40v160h359.5V320h-40v120zm-39.8-80h-200v39.7h200V360z"/></svg> Stack Overflow
          </a>
        </li>
      {% endif %}

      {% if author.lastfm %}
        <li>
          <a href="https://last.fm/user/{{ author.lastfm }}" itemprop="sameAs" target="_blank">
            <i class="fab fa-fw fa-lastfm-square" aria-hidden="true"></i> Last.fm
          </a>
        </li>
      {% endif %}

      {% if author.dribbble %}
        <li>
          <a href="https://dribbble.com/{{ author.dribbble }}" itemprop="sameAs" target="_blank">
            <i class="fab fa-fw fa-dribbble" aria-hidden="true"></i> Dribbble
          </a>
        </li>
      {% endif %}

      {% if author.pinterest %}
        <li>
          <a href="https://www.pinterest.com/{{ author.pinterest }}" itemprop="sameAs" target="_blank">
            <i class="fab fa-fw fa-pinterest" aria-hidden="true"></i> Pinterest
          </a>
        </li>
      {% endif %}

      {% if author.foursquare %}
        <li>
          <a href="https://foursquare.com/{{ author.foursquare }}" itemprop="sameAs" target="_blank">
            <i class="fab fa-fw fa-foursquare" aria-hidden="true"></i> Foursquare
          </a>
        </li>
      {% endif %}

      {% if author.steam %}
        <li>
          <a href="https://steamcommunity.com/id/{{ author.steam }}" itemprop="sameAs" target="_blank">
            <i class="fab fa-fw fa-steam" aria-hidden="true"></i> Steam
          </a>
        </li>
      {% endif %}

      {% if author.youtube %}
        {% if author.youtube contains "://" %}
          <li>
            <a rel="me" href="{{ author.youtube }}" itemprop="sameAs" target="_blank">
              <svg class="icon fa-youtube" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"/></svg> YouTube
            </a>
          </li>
        {% else author.youtube %}
          <li>
            <a href="https://www.youtube.com/user/{{ author.youtube }}" itemprop="sameAs" target="_blank">
              <svg class="icon fa-youtube" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"/></svg> YouTube
            </a>
          </li>
        {% endif %}
      {% endif %}

      {% if author.soundcloud %}
        <li>
          <a href="https://soundcloud.com/{{ author.soundcloud }}" itemprop="sameAs" target="_blank">
            <i class="fab fa-fw fa-soundcloud" aria-hidden="true"></i> SoundCloud
          </a>
        </li>
      {% endif %}

      {% if author.weibo %}
        <li>
          <a href="https://www.weibo.com/{{ author.weibo }}" itemprop="sameAs" target="_blank">
            <i class="fab fa-fw fa-weibo" aria-hidden="true"></i> Weibo
          </a>
        </li>
      {% endif %}

      {% if author.flickr %}
        <li>
          <a href="https://www.flickr.com/{{ author.flickr }}" itemprop="sameAs" target="_blank">
            <i class="fab fa-fw fa-flickr" aria-hidden="true"></i> Flickr
          </a>
        </li>
      {% endif %}

      {% if author.codepen %}
        <li>
          <a rel="me" href="https://codepen.io/{{ author.codepen }}" itemprop="sameAs" target="_blank">
            <i class="fab fa-fw fa-codepen" aria-hidden="true"></i> CodePen
          </a>
        </li>
      {% endif %}

      {% if author.vine %}
        <li>
          <a href="https://vine.co/u/{{ author.vine }}" itemprop="sameAs" target="_blank">
            <i class="fab fa-fw fa-vine" aria-hidden="true"></i> Vine
          </a>
        </li>
      {% endif %}

      {% include author-profile-custom-links.html %}
    </ul>
  </div>
</div>
