<div id="respond" class="js-comments">
  <header class="section-title">
    <h3><svg class="icon icon--comment" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-comment' | prepend: 'assets/icons/' | relative_url }}"></use></svg>&nbsp;Comment Form<small><a rel="noreferrer" id="cancel-comment-reply-link" href="{{ page.url | relative_url }}#respond" style="display:none;">Cancel reply</a></small></h3>
  </header>
  <div class="page__comments-form wrapper left-form">
  <form id="comment-form" class="page__form js-form driver-fix-stacking" method="post" action="https://api.staticman.net/v2/entry/donaldboulton/DWB/gh-pages/comments">
    <div class="form-group">
      <label class="sr-only" for="comment-form-name"><strong>Your Name</strong></label>
      <input type="text" id="comment-form-name" name="fields[name]" required spellcheck="false" placeholder="Your Name (required *)">
    </div>
    <div class="form-group">
      <label class="sr-only" for="comment-form-email"><strong>Email address</strong> <small>(used for <a href="http://gravatar.com">Gravatar</a> image and reply notifications)</small></label>
      <input type="email" id="comment-form-email" name="fields[email]" required spellcheck="false" placeholder="Email address (used for Gravatar image)">
    </div>
    <div class="form-group">
      <label class="sr-only" for="comment-form-url"><strong>Website</strong> <small>(optional)</small></label>
      <input type="url" id="comment-form-url" name="fields[url]" placeholder="Website (optional)">
    </div>
    <div class="form-group">
      <label class="sr-only" for="comment-form-title"><strong>Title</strong> <small>(required)</small></label>
      <input type="text" id="comment-form-title" name="fields[title]" required placeholder="Title (required *)">
    </div>
    <div class="form-group">
      <label for="comment-form-message"><strong>Comment</strong><abbr class="abbr" title="Required">&nbsp;*</abbr><small>&nbsp;(<a rel="noreferrer" href="https://kramdown.gettalong.org/quickref.html">Markdown</a> is allowed)</small></label>
      <textarea type="text" rows="6" id="comment-form-message" name="fields[message]" required spellcheck="true" placeholder="Comment (required *)"></textarea>
    </div>
      <input type="hidden" name="options[origin]" value="{{ page.url | relative_url }}">
      <input type="hidden" name="options[parent]" value="{{ page.url | relative_url }}">
      <input type="hidden" id="comment-replying-to" name="fields[replying_to]" value="">
      <input type="hidden" id="comment-post-id" name="options[slug]" value="{{ page.slug }}">
      <input type="hidden" id="comment-form-location" name="fields[hidden]" autocomplete="off">
      <input type="hidden" name="options[reCaptcha][siteKey]" value="{{ site.reCaptcha.siteKey }}">
      <input type="hidden" name="options[reCaptcha][secret]" value="{{ site.reCaptcha.secret }}">
      <div class="enable-push">
        <div class="toggle-switch">
          <input id="enable-push-checkbox" class="js-push-toggle-checkbox" type="checkbox" disabled></input>
          <label for="enable-push-checkbox"></label>
        </div>
        <div class="subscription-message">&nbsp;Enable Notifications</div>
      </div>
    <div class="form-group">
        <button type="submit" id="comment-form-submit" class="btn btn--primary" value="Submit Comment" id="submit_button" data-callback="enableBtn">Submit Comment</button>
      <br/>
    </div>
    <div class="form-group">
    <!-- Start comment form alert messaging -->
    <p class="hidden js-notice">
      <span class="js-notice-text"></span>
    </p>
    <!-- End comment form alert messaging -->
    </div>
  </form>
  </div>
</div>