<article itemscope itemtype="http://schema.org/Review"  id="comment{% unless include.r %}{{ index | prepend: '-' }}{% else %}{{ include.index | prepend: '-' }}{% endunless %}" class="js-comment comment {% if include.name == site.author.name %}admin{% endif %} {% unless include.replying_to == 0 %}child{% endunless %}">
  <div class="comment__avatar">
    {% if include.avatar %}
    <img itemprop="image" class="comment-avatar-img" src="{{ include.avatar }}" alt="{{ include.name | escape }}">
    {% elsif include.email %}
    <img itemprop="image" class="comment-avatar-img" src="https://www.gravatar.com/avatar/{{ include.email }}?d=mm&s=60" srcset="https://www.gravatar.com/avatar/{{ include.email }}?d=mm&s=120 2x" alt="{{ include.name | escape }}">
    {% else %}
    <img itemprop="image" class="comment-avatar-img" avatar="{{ include.name }}" alt="{{ include.name }}" />
    {% endif %}
  </div>
  <h3 class="comment-author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">
    {% unless include.url == blank %}
    <a itemprop="name" rel="external nofollow" href="{{ include.url }}">{{ include.name | strip_html }}</a>
    {% else %}
    {{ include.name | strip_html }}
    {% endunless %}
  </h3>
  <div class="comment-timestamp">
    {% if include.date %}
    {% if include.index %}<a href="#comment{% if r %}{{ index | prepend: '-' }}{% else %}{{ include.index | prepend: '-' }}{% endif %}" title="Permalink to this comment">
      {% endif %}
      <time itemprop="datePublished" datetime="{{ include.date | date_to_xmlschema }}">{{ include.date | date: '%B %d, %Y' }}</time>
      {% if include.index %}
    </a>{% endif %}
    {% endif %}
  </div>
  <div itemprop="reviewTitle" class="comment-title">
    {{ include.title | markdownify }}
  </div>
  <div itemprop="reviewBody" class="comment-content">
    {{ include.message | markdownify }}
  </div>
  {% unless include.replying_to != 0 or page.comments_locked == true %}
    <div class="comment-reply">
      <a rel="nofollow" class="btn btn--primary" href="#comment-{{ include.index }}" onclick="return addComment.moveForm('comment-{{ include.index }}', '{{ include.index }}', 'respond', '{{ page.slug }}')"><svg class="icon icon--reply" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-reply' | prepend: 'assets/icons/' | relative_url }}"></use></svg> Reply to {{ include.name }}</a>
    </div>
  {% endunless %}
</article>

{% capture i %}{{ include.index }}{% endcapture %}
{% assign replies = site.data.comments[page.slug] | where_exp: 'item', 'item.replying_to == i' %}
{% for reply in replies %}
  {% assign index       = forloop.index | prepend: '-' | prepend: include.index %}
  {% assign r           = reply.replying_to %}
  {% assign replying_to = r | to_integer %}
  {% assign avatar      = reply.avatar %}
  {% assign email       = reply.email %}
  {% assign name        = reply.name %}
  {% assign url         = reply.url %}
  {% assign date        = reply.date %}
  {% assign title       = reply.title %}
  {% assign message     = reply.message %}
  {% include comment.html index=index replying_to=replying_to avatar=avatar email=email name=name url=url date=date title=title message=message %}
{% endfor %}