
<div id="respond" class="js-comments">
  <header class="section-title">
    <h3><svg class="icon icon--comment" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-comment' | prepend: '/build/icons/' | relative_url }}"></use></svg>&nbsp;Comment Form Moderated<small><a rel="noreferrer" id="cancel-comment-reply-link" href="{{ page.url | relative_url }}#respond" style="display:none;">Cancel reply</a></small></h3>
  </header>
        <div class="page__comments-form wrapper left-form">
        <form id="comment-form" class="page__form js-form driver-fix-stacking" method="Post" netlify-honeypot="bot-field" netlify-recaptcha data-netlify="true" action="https://api.staticman.net/v2/entry/donaldboulton/DWB/gh-pages/comments>
          <div class="form-group">
              <label class="sr-only" for="comment-form-name"><strong>Your Name</strong></label>
              <input type="text" id="comment-form-name" name="name" spellcheck="false" placeholder="Your Name (required *)" required="required" aria-required="true" pattern="^([- \w\d\u00c0-\u024f]+)$" title="Your name (no special characters, diacritics are okay)">
            </div>
            <div class="form-group">
              <label class="sr-only" for="comment-form-email"><strong>Email address</strong> <small>(used for <a href="https://gravatar.com">Gravatar</a> image and reply notifications)</small></label>
              <input id="comment-form-email" name="email" placeholder="Email address (used for Gravatar image)" aria-required="true" pattern="^(([-\w\d]+)(\.[-\w\d]+)*@([-\w\d]+)(\.[-\w\d]+)*(\.([a-zA-Z]{2,5}|[\d]{1,3})){1,2})$" title="Your email address" type="email" spellcheck="false" inputmode="email">
            </div>
            <div class="form-group">
              <label class="sr-only" for="comment-form-url"><strong>Website</strong> <small>(optional)</small></label>
              <input type="url" id="comment-form-url" name="url" pattern="^(http[s]?:\/\/)?([-\w\d]+)(\.[-\w\d]+)*(\.([a-zA-Z]{2,5}|[\d]{1,3})){1,2}(\/([-~%\.\(\)\w\d]*\/*)*(#[-\w\d]+)?)?$" placeholder="Website (optional)" inputmode="url">
            </div>
            <div class="form-group hidden" style="display: none">
              <label class="sr-only" for="bot-field">Address</label>
              <input type="text" id="address" name="bot-field"/>
            </div>
            <div class="comment__title form-group">
              <label class="sr-only" for="comment-form-title"><strong>Title</strong> <small>(required)</small></label>
              <input type="text" id="comment-form-title" name="title" required placeholder="Title (required *)">
            </div>
            <div class="form-group">
              <label for="comment-form-message"><strong>Comment</strong><abbr class="abbr" title="Required">&nbsp;*</abbr><small>&nbsp;(<a rel="noreferrer" href="https://kramdown.gettalong.org/quickref.html">Markdown</a> is allowed)</small></label>
              <textarea type="text" rows="6" id="comment-form-message" name="message spellcheck="true" placeholder="Comment (required *)" value="" required="required" aria-required="true"></textarea>
            </div>
              <input type="hidden" name="options[origin]" value="{{ page.url | relative_url }}">
              <input type="hidden" name="options[parent]" value="{{ page.url | relative_url }}">
              <input type="hidden" name="comment-form" value="comment" />
              <input type="hidden" id="comment-replying-to" name="replying_to" value="">
              <input type="hidden" id="comment-post-id" name="options[slug]" value="{{ page.slug }}">
              <input type="hidden" name="_next" value="https://donboulton.com/thanks/" />
              <input type="text" name="_gotcha" style="display: none;" />
              <input type="hidden" name="_language" value="en" />
              <input type="hidden" name="SITE_RECAPTCHA_KEY" value="6LerR1MUAAAAACWH7t30s7V4aApQZaIVVPcvH21X">
              <input type="hidden" name="SITE_RECAPTCHA_SECRET" value="{{ site.reCaptcha.secret }}">
              <input name="options[redirect]" type="hidden" value="{{site.url}}{{site.baseurl}}{{ page.url }}" />
              <div>Please Agree to Our <a href="https://donboulton.com/terms">Terms and Conditions</a>&nbsp;<abbr class="abbr" title="Required">&nbsp;*&nbsp;</abbr></div>
              <div class="enable-push">
                <div class="toggle-switch">
                  <input aria-label="Terms and Conditions" id="checkbox1" name="checkbox1" value="terms" type="checkbox" oonclick="checkTerms();" />
                  <label for="checkbox1"></label>
                </div>
              </div>
              <p class="hidden">
                <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
              </p>
            <div data-netlify-recaptcha class="dark"></div>
            <div class="form-group">
                <button type="submit" id="comment-form-submit" class="btn btn--primary" name="comment-form-submit" value="Submit Comment" data-callback="enableBtn">Submit Comment</button>
              <br/>
            </div>
            <div class="form-group">
            <!-- Start comment form alert messaging -->
            <p class="hidden js-notice">
              <span class="js-notice-text"></span>
            </p>
            <!-- End comment form alert messaging -->
            </div>
        </form>
        </div>
</div>
<script type="text/javascript">
function checkTerms() {
     if($('input[name="checkbox1"]').is(":checked")
     {
         $('input[name="comment-form-submit"]').attr('disabled', 'disabled');
     }
     else
     {
         $('input[name="comment-form-submit"]').removeAttr('disabled');
     }
 }
</script>
