<div id="formBlock" class="contact-box">
	<form id="contactform"  action="https://formspree.io/donaldboulton@gmail.com" method="post" class="contact-form">
    <h3>Send us a email message</h3>
  <div class="form-group">
		<label for="name">Full Name</label>
		<input type="text" name="fields[name]" id="name" placeholder="Enter your name..." required autofocus>
  </div>
  <div class="form-group">
		<label for="email">Email Address</label>
		<input type="email" name="fields[email]" id="email" placeholder="Enter your email..." required inputmode="email">
  </div>
  <div class="form-group">
		<label for="message">Message</label>
		<textarea name="fields[message]" id="message" placeholder="Enter your message..." required></textarea>
  </div>
  <div>
    <input type="hidden" name="_replyto" value="{{ page.email }}">
    <input type="hidden" name="_cc" value="{{ contactform.email }}">
    <input type="hidden" name="_subject" value="Website donboulton New Message" />
    <input type="hidden" name="_next" value="https://donboulton.com/thanks/" />
    <input type="text" name="_gotcha" style="display: none;">
    <input type="hidden" name="_language" value="en" />
  </div>
  <div class="form-group">
      <div id="left-default" class="container">
          <div>Move the button, "Submit Contact", to this form!</div>
      </div>
  </div>
  </form>
      <div id="right-default" class="container">
        Move this button to submit the contact form.
          <div><input type="submit" value="Send Message" class="btn btn--primary"></div>
      </div>
  <div id="card" class="wide"></div>
  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Contact <a href="https://t.co/SDMOt5GU7n">https://t.co/SDMOt5GU7n</a> via <a href="https://twitter.com/donboulton?ref_src=twsrc%5Etfw">@donboulton</a><a href="https://t.co/xbuqYoW5b2">https://t.co/xbuqYoW5b2</a> email contact form in <a href="https://t.co/A4Dw14MVjA">https://t.co/A4Dw14MVjA</a></p>&mdash; Don W. Boulton (@donboulton) <a href="https://twitter.com/donboulton/status/1001871264565342208?ref_src=twsrc%5Etfw">May 30, 2018</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>