<div class=".align-right">
  <button class="btn btn--primary align-right" data-clipboard-action="copy" data-clipboard-target="#color">
    <img class="clippy" width="13" src="/DWB/dest/assets/images/pages/svg/clippy.svg" alt="clippy">
  </button>
</div>
<div id="color" class="toc"></div>
  <script>
    $(document).ready(function () {
      var clipboard = new Clipboard('.btn'); clipboard.on('success', function (e) { console.log(e) }); clipboard.on('error', function (e) { console.log(e) });
    });
  </script>
