<div class="gallery">
  <div class="gallery-3-col">
    <div>
        <img src="/assets/images/logomark-80.png" alt="Netlify logo" width="80" height="80" onclick="window.open('https://netlify.com');">
    </div>
    <div>
      <a href="https://app.netlify.com/start/deploy?repository=https://github.com/donaldboulton/DWB">
        <img src="https://www.netlify.com/img/deploy/button.svg" width="320" height="80" title="Deploy to Netlify">
      </a>
    </div>
    <div>
        <img src="/assets/images/github-74-80.png" width="74" height="80" alt="Github logo" onclick="window.open('https://github.com');">
    </div>
  </div>
</div>
