<div class="gallery">
  <div class="gallery-3-col">
    <div>
        <span>Netlify Hosting&nbsp;&nbsp;</span>
        <img src="/dest/assets/images/logomark-80.png" alt="Netlify logo" class="poweredby" onclick="window.open('https://netlify.com');">
    </div>
    <div>
      <a href="https://app.netlify.com/start/deploy?repository=https://github.com/donaldboulton/DWB">
        <img src="https://www.netlify.com/img/deploy/button.svg" class="poweredby" title="Deploy to Netlify">
      </a>
    </div>
    <div>
        <img src="/assets/images/github-74-80.png" alt="Github logo" class="poweredby" onclick="window.open('https://github.com');">
        <span>&nbsp;GitHub Repo</span>
    </div>
  </div>
</div>