<div id="comments" class="comment" itemscope itemtype="https://schema.org/UserComments">
  <header class="section-title">
    <h3><svg class="icon icon--comments-alt" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-comments-alt' | prepend: '/build/icons/' | relative_url }}"></use></svg>&nbsp;Comments</h3>
  </header>
  <div id="disqus_thread"></div>
</div>
  <script>
    var disqus_config = function () {
      this.page.url = "{{ page.url | absolute_url }}";
      this.page.identifier = "{{ page.id }}";
    };
    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://donald-boulton.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
