<div id="T-Shirt" class="no-js"></div>
    <select name="variant" class="form-control full-width" onchange="updatevariant(this,'T-Shirt');">                                                                                                            
        <option value="small | 25.70">Small 25.70</option>                            
        <option value="medium | 25.70">Medium 25.70</option>                            
        <option value="large | 25.70">Large 25.70</option>    
        <option value="x-large | 25.70">X-Large 25.70</option>   
    </select>
</div>