<div id="beer" class="product no-js">
    <div>I like beer a lot! IPA, Guinness, Stout, mico brews… Dead Guy Ale is my favorite but I love to try new ones. Buy me half-a-pint to get going or a pint to get a good buzz.</div>
  <div class="gallery-col-3">   
      <div>                                                         
        <a href="https://images.weserv.nl/?url=donboulton.com/assets/images/cart/beer/2.jpg&w=320&output=jpg&q=50" ><img src="https://images.weserv.nl/?url=donboulton.com/assets/images/cart/beer/2.jpg&w=350&output=jpg&q=50" /></a>
      </div>
      <div>
        <a href="https://images.weserv.nl/?url=donboulton.com/assets/images/cart/beer/3.jpg&w=320&output=jpg&q=50" ><img src="https://images.weserv.nl/?url=donboulton.com/assets/images/cart/beer/3.jpg&w=350&output=jpg&q=50" /></a>
      </div>
      <div>
        <a href="https://images.weserv.nl/?url=donboulton.com/assets/images/cart/beer/1.jpg&w=320&output=jpg&q=50" ><img src="https://images.weserv.nl/?url=donboulton.com/assets/images/cart/beer/1.jpg&w=350&output=jpg&q=50" /></a>
      </div>
  </div>  
</div>

