<div id="T-Shirt" class="no-js"></div>
    <select name="variant" class="form-control" onchange="updatevariant(this,'T-Shirt');">                                                                                                            
        <option value="small | 25.70">tall</option>                            
        <option value="medium | 25.70">grande</option>                            
        <option value="large | 25.70">Large</option>    
        <option value="x-large | 25.70">X-Large</option>   
    </select>
</div>