<div class="gallery-3-col-unjustified">                  
                <div>
                        <h2 class="page__title">Share</h2>
                    <a href="/share/">
                    <img src="/assets/images/cart/share/share-cover.jpg" style="width: 100%; background: url('https://images.weserv.nl/?url=donboulton.com/assets/images/cart/share/share-cover.jpg&w=500&h=350&output=jpg&q=50') center center no-repeat; background-size: cover;" />  
                    Share the love<br />
                    </a>
                </div>
                <div>
                        <h2 class="page__title">Some Coffee</h2>
                    <a href="/coffee/">
                    <img src="/assets/images/cart/coffee/1.jpg" style="width: 100%; background: url('https://images.weserv.nl/?url=donboulton.com/assets/images/cart/coffee/1.jpg&w=500&h=350&output=jpg&q=50') center center no-repeat; background-size: cover;" />  
                    Buy me a coffee<br />
                    &dollar; 2.50
                    </a>
                </div>
                <div>
                        <h2 class="page__title">A Beer</h2>
                    <a href="/beer/">
                    <img src="/assets/images/cart/beer/1.jpg" style="width: 100%; background: url('https://images.weserv.nl/?url=donboulton.com/assets/images/cart/beer/1.jpg&w=500&h=350&output=jpg&q=50') center center no-repeat; background-size: cover;" />  
                    Buy me a beer<br />
                    &dollar; 2.75
                    </a>
                </div>
                <div>
                        <h2 class="page__title">Cat Food</h2>
                    <a href="/catfood/">
                    <img src="/assets/images/cart/catfood/blue-wilderness.jpg" style="width: 100%; background: url('https://images.weserv.nl/?url=donboulton.com/assets/images/cart/catfood/blue-wilderness.jpg&w=500&h=350&output=jpg&q=50') center center no-repeat; background-size: cover;" />  
                    Buy me Cat food<br />
                    &dollar; 19.95
                    </a>
                </div>
                <div>
                        <h2 class="page__title">A T-Shirt</h2>
                    <a href="/t-shirt/">
                    <img src="/assets/images/cart/t-shirt/view.jpg" style="width: 100%; background: url('https://images.weserv.nl/?url=donboulton.com/assets/images/cart/t-shirt/view.jpg&w=500&h=350&output=jpg&q=50') center center no-repeat; background-size: cover;" />  
                    Buy me a t-shirt<br />
                    &dollar; 25.70
                    </a>
                </div>
                <div>
                        <h2 class="page__title">Sponsor Us</h2>
                    <a href="/feature/">
                    <img src="/assets/images/cart/Sponsor-Us-Circle-260x260.jpg" style="width: 100%; background: url('https://images.weserv.nl/?url=donboulton.com/assets/images/cart/feature/view.jpg&w=500&h=350&output=jpg&q=50') center center no-repeat; background-size: cover;" />  
                    Sponsor a feature<br />
                    &dollar; 150.-
                    </a>
                </div>                            
</div>
