<div class="product no-js">
    <div class="gallery-3-col">
            <div>
                <h2 class="page__title">Joe time</h2>
                <a href="https://images.weserv.nl/?url=donboulton.com/assets/images/cart/coffee/4.jpg&w=320&output=jpg&q=50" class="lightbox-image"><img src="https://images.weserv.nl/?url=donboulton.com/assets/images/cart/coffee/1.jpg&w=350&output=jpg&q=50" /></a>
            </div>
            <div>
                <h2 class="page__title">Best Beans</h2>
                <a href="https://images.weserv.nl/?url=donboulton.com/assets/images/cart/coffee/2.jpg&w=320&output=jpg&q=50" class="lightbox-image"><img src="https://images.weserv.nl/?url=donboulton.com/assets/images/cart/coffee/2.jpg&w=350&output=jpg&q=50" /></a>
            </div>
            <div>
                <h2 class="page__title">Grind em</h2>
                <a href="https://images.weserv.nl/?url=donboulton.com/assets/images/cart/coffee/3.jpg&w=320&output=jpg&q=50" class="lightbox-image"><img src="https://images.weserv.nl/?url=donboulton.com/assets/images/cart/coffee/3.jpg&w=350&output=jpg&q=50" /></a>
            </div>
    </div>
</div>
