<div id="body" class="product no-js">
		<div>
                <div class="gallery-2-col">
                    <div class="product-gallery">                    
                        <a href="https://images.weserv.nl/?url=donboulton.com/assets/images/cart/feature/feature.jpg&w=1400&output=jpg&q=50" ><img src="https://images.weserv.nl/?url=donboulton.com/assets/images/cart/feature/feature.jpg&w=1400&output=jpg&q=50" /></a>                    
                    </div>
                </div>
                <div>                    
                    <header>
                    <h1 class="post-title">Sponsor a feature</h1>
                    </header>                
                    <div class="post-content">
                        <h2 class="price">&euro; 150.-</h2>
                            <a href="/cart/" image="/assets/images/cart/feature/feature.jpg" price="150.00" description="Feature" id="shoppingcartbutton" class="btn btn--primary btn-lg addtocart">Donate</a>                        
                        <br /><br />
                        <p>You can sponsor a feature. I will not only give you an honourable mention on the site, but I will also let you suggest some additional functionalities of this feature.</p>
                    </div>                    
		    	</div>
	    </div>
</div>

{% include lightbox.html %}

{% include webshop.html %}