<div class="parent">
  <div class="wrapper">
    <div id="left-events" class="container">
      <div class="">More interactive use cases lie ahead</div>
      <div>Moving them anywhere else isn't quite possible</div>
      <div class="">Moving <code>&lt;input/&gt;</code> elements works just fine. You can still focus them, too. <input placeholder="See?"></div><div class="">This is the default use case. You only need to specify the containers you want to use</div><div>Anything can be moved around. That includes images, <a href="https://github.com/bevacqua/dragula">links</a>, or any other nested elements.
    </div>
    <div id="right-events" class="container">
      <div>Make sure to check out the <a href="https://github.com/bevacqua/dragula#readme">documentation on GitHub!</a></div>
      <div class="">You can move these elements between these two containers</div><div class="">There's also the possibility of moving elements around in the same container, changing their position</div></div>
    </div>
  </div>
</div>