<div class="form-froup">
  <button id="authorize_button" class="btn btn-default" style="display: none;">Authorize</button>
  <button id="signout_button" class="btn btn-default" style="display: none;">Sign Out</button>
  <div>
    <pre id="content" style="white-space: pre-wrap;"></pre>
  </div>
</div>
<div id='script-warning'>
  This page should be running from a webserver, to allow fetching from the <code>json/</code> directory.
</div>

<div id='loading'>loading...</div>
<div id="calendar" class="fc ui-widget fc-ltr"></div>
