<div id="image-gallery{% if include.id_number %}-{{ include.id_number }}{% endif %}" class="image-gallery">
		<div id="gallery-sizer{% if include.id_number %}-{{ include.id_number }}{% endif %}" class="gallery-sizer"></div>
		{% for picture in include.gallery.pictures %}
		<figure class="image-wrapper" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">			
			<a href="{{ site.url }}{{ site.baseurl }}/assets/photography/{{ include.gallery.picture_path }}/{{ picture.original }}"
			data-med-size="800x600" data-responsive="{% for size in picture.sizes %} {{ site.url}}{{ site.baseurl }}/assets/photography/{{ include.gallery.picture_path }}/{{ size }} {{ size | split: '-' | last | split: '.' | first | split: 'x' | first | strip }}{% unless forloop.last %},{% endunless %}{% endfor %}" class="image" data-size="1200x900"
			{% if picture.title %} data-sub-html="<figcaption class='caption'><h4>{{ picture.title | escape }}</figcaption>{% if picture.caption %}<p>{{ picture.caption | escape }}</p>{% endif %}</figcaption>"{% endif %}>
				<img alt="{{ picture.title }}" src="{{ site.url }}{{ site.baseurl }}/assets/photography/{{ include.gallery.picture_path }}/{{ picture.thumbnail }}" />
			</a>
			<meta itemprop="width" content="320">
			<meta itemprop="height" content="240">		
		</figure>
		{% endfor %}
	</div>	
<script>
	var $gallery{% if include.id_number %}{{ include.id_number }}{% endif %} = $("#image-gallery{% if include.id_number %}-{{ include.id_number }}{% endif %}").lightGallery({
		thumbnail: true,
		selector: '.image'
	});
	
	// init isotope
	var $grid{% if include.id_number %}{{ include.id_number }}{% endif %} = $('#image-gallery{% if include.id_number %}-{{ include.id_number }}{% endif %}').isotope({
		percentPosition: true,
		columnWidth: '#gallery-sizer{% if include.id_number %}-{{ include.id_number }}{% endif %}',
		itemSelector: '.image-wrapper',
		layoutMode: "masonry"
	});
	
	// layout Isotope after each image loads
	$grid{% if include.id_number %}{{ include.id_number }}{% endif %}.imagesLoaded().progress( function() {
		$grid{% if include.id_number %}{{ include.id_number }}{% endif %}.masonry();
	});
	var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
    gallery.init();
</script>
	