---
---

<div class="content">
   <div class="github-widget" data-username="donaldboulton"></div>
</div>
<script src="../node_modules/github-card/src/widget.js"></script>

<figure class="contributions"> <img src="/assets/images/contributions.png" alt="Search Results"> 
  <figcaption>GitHub Contributions </figcaption> 
</figure>
<div class="gallery-2-col">
  <div id="github-widget1" data-user="donaldboulton" data-display="pop_repos,calendar"></div>
</div>
<script src="{{ '/build/js/github/github-widget.js' | absolute_url }}"></script>
