<meta charset="utf-8">
{% include seo.html %}
<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="robots" Content="index, follow, archive">
<meta name="revisit-after" Content="3 days">
<meta name="expires" Content="Mon, 06 Jan 2020 21:31:12 GMT">
<meta name="apple-mobile-web-app-capable" Content="yes">
<meta name="application-name" content="donboulton">
<meta name="apple-mobile-web-app-title" content="donboulton">
<meta name="msapplication-starturl" content="https://donboulton.com">
<meta name="author" Content="Donald Boulton">
<meta name="fb:app_id" Content="322180367845124">
<meta name="twitter:thumbnailUrl" Content="/assets/images/donald-boulton_100.jpg">
<meta name="twitter:id" Content="105217183">
<meta name="twitter:creator:id" Content="105217183">
<meta name="twitter:creator:username" Content="@donboulton">
<meta name="twitter:name" Content="@donboulton">
<meta name="twitter:widgets:theme" Content="dark">
<meta name="twitter:widgets:link-color" Content=" #71ba70">
<meta name="twitter:widgets:border-color" Content="#282A2B">
<meta name="name" Content="Donald Boulton">
<meta name="InLanguage" Content="en-US">
<meta name="google-signin-clientid" Content="857761645811-u1iefg2lorg7aqoiat9vkn1d146n8lkp.apps.googleusercontent.com">
<meta name="google-signin-scope" Content="https://www.googleapis.com/auth/plus.login">
<meta name="google-signin-requestvisibleactions" Content="http://schema.org/AddAction">
<meta name="google-signin-cookiepolicy" Content="single_host_origin">
<meta name="specificfeeds-verification-code" content="w48MyShCerwN6kA3DklR" />
<meta name="theme-color" content="#212529">
<meta name="msvalidate.01" content="361016BEC0F67F6A834D6186E897D9EC" />
<meta name="logo" content="{{ site.url }}/apple-touch-icon-precomposed.png" />
<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
<meta name="pjax-timeout" content="1000">
<meta http-equiv="x-pjax-version" content="d4d26263aff43b9e6848743a02fdedef">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/fav-icons/apple-touch-icon-180x180.png" sizes="180x180">
<link rel="icon" type="image/png" href="/assets/images/fav-icons/favicon.png" sizes="32x32">
<link rel='shortcut icon' type='image/png' href='/assets/images/fav-icons/favicon.png' />
<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
<link rel="alternate" title="{{ site.title }} Feed" type="application/atom+xml" href="{{ 'atom.xml' | absolute_url }}">
<link rel="alternate" title="{{ site.title }} Feed" type="application/json" href="{{ 'feed.json' | absolute_url }}">
<link rel="manifest" href="{{ 'manifest.json' | absolute_url }}">
<link rel="amphtml" href="{{ site.url }}{{ page.url }}" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-30162465-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-30162465-2');
</script>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TDPND89');</script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-30162465-2', 'auto');
  ga('require', 'GTM-TDPND89');
  ga('send', 'pageview');
  </script>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "https://donboulton.com",
    "logo": "https://donboulton.com/apple-touch-icon-precomposed.png"
  }
</script>
<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    {% if script contains "://" %}
      {% capture script_path %}{{ script }}{% endcapture %}
    {% else %}
      {% capture script_path %}{{ script | relative_url }}{% endcapture %}
    {% endif %}
      <script src="{{ script_path }}"></script>
  {% endfor %}
{% endif %}
{% if page.support contains 'gallery' %}
   <link rel="stylesheet" href="{{ '/assets/dist/css/lightgallery.min.css' | relative_url }}">
{% endif %}
{% if page.support contains 'places' %}
   <link rel="stylesheet" href="{{ '/assets/css/vendor/google-places/google-places.css' | relative_url }}">
{% endif %}
{% if page.support contains 'products' %}
   <link rel="stylesheet" href="{{ '/assets/css/vendor/snipcart/snipcart.min.css' | relative_url }}">
{% endif %}

{% if page.support contains 'calendar' %}
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.0.0-alpha/fullcalendar.min.css">
   <link rel="stylesheet" media="print" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.0.0-alpha/fullcalendar.print.min.css">
{% endif %}

<script src='https://www.google.com/recaptcha/api.js?render=6Le-JGIUAAAAAItP3anxYzixThXd6EUvsDjXZevh'></script>

{% if site.webmention_url %}
  <link rel="webmention" href="{{ site.webmention_url }}">
{% endif %}

<!-- AMP Article -->
{% if page.path contains 'posts' %}
  {% unless page.amp_skip %}
    <link rel="amphtml" href="{{ site.baseurl }}/amp-html/{{ page.amp_path }}.html">
  {% endunless %}
{% endif %}