<div class="native-flex native-0 toc1">
      <div class="section-title"><h3 class="nav__title1"><img src="/assets/images/hotjar-cut.png" class="icon icon--hotjar" />&nbsp;&nbsp;Sponsored by</h3></div>
      <a href="https://www.hotjar.com/r/r543e6a" class="native-main" target="_blank">
        <div class="page__title text-center">Hotjar</div>
         <div class="align-left">See how your visitors are really using your website.</div>
         <div class="native-footer">
        <div class="native-cta text-center">Try it for Free</div>
        <img class="hotjar align-center" src="/assets/images/HotJar-250x100_logo.png">
      </div>
    </a>
</div>