<div class="native-flex native-0 toc1">
      <div class="section-title"><h3 class="nav__title1"><img src="/assets/images/hotjar-cut.png" class="icon icon--hotjar" />&nbsp;&nbsp;Heatmaps by Hotjar</h3></div>      
         <div class="align-left">See how your visitors are really using your website.</div>
         <div class="native-footer">
          <a href="https://www.hotjar.com/r/r543e6a" class="native-main" target="_blank">
            <img class="hotjar align-center" src="/assets/images/HotJar-250x100_logo.png">
          <div class="native-cta text-center"><button class="btn btn--danger btn--large">Try it for Free&nbsp;↬</button></div>       
      </div>
    </a>
</div>