<div class="native-flex native-0 toc1">
      <div class="section-title"><h3 class="nav__title1"><img src="/assets/images/hotjar-cut.png" class="icon icon--hotjar" />&nbsp;&nbsp;Sponsored by</h3></div>
      <a href="https://adclick.g.doubleclick.net/pcs/click?xai=AKAOjstUN5DYMbOJ3NNVxWRWOYFgJAxJmyq23bsMOro_WN5jonV5O6ZMJB5S6_qRHNq9uksR_LhJgHbd8H94jf5Oal3avkZMbBt9pMTTY8FsWPZsKsGy7-GCz5hcLV8530wBQ_vl3irRYQOQZEh3I5I6Qn-gridHlZjFjevnnYXdARlgItyllsmHNjpTJ-2W9VnxOvrsT5p2katNLktV-J1rb20V4jPCCfTShmIa-lC6CfQTrHg2vUE3YaHVrGPkjTj6GdMGPPY&amp;sai=AMfl-YQpHaW03jMVYXblCBJ5eQQ0SUCVXWWR4Rl3srU36cGj4wQSAut2HpZOe_ffmC9Lm2HXOZcSTkhb3fH76RCoYFTI55Ty_cH9TndgoWjDW2XkOOxVo6p2f8oFFCE&amp;sig=Cg0ArKJSzOXN2hADSrAKEAE&amp;urlfix=1&amp;adurl=//srv.buysellads.com/ads/click/x/GTND42QWCWYD523ICEY4YKQMCEBDL5QMCVSI5Z3JCWBDV537F67IP27KC6BIV2QECEADTK3EHJNCLSIZ" class="native-main" target="_blank">
        <div class="page__title text-center">Hotjar</div>
         <div class="align-left">See how your visitors are really using your website.</div>
         <div class="native-footer">
        <div class="native-cta">Try it for Free</div>
        <img class="hotjar align-center" src="/assets/images/HotJar-250x100_logo.png">
      </div>
    </a>
  </div>