<style>
        .image-gallery {overflow: auto; margin-left: -1%!important;}
        .image-gallery a {float: left; display: block; margin: 0 0 1% 1%; width: 19%;}
        .image-gallery a img {width: 100%; display: block;}
    </style>
<div class="gallery" itemscope="" itemtype="http://schema.org/ImageGallery">
  {% for image in site.static_files %}
    {% if image.path contains 'images/pages' %}
    <div class="image-wrapper" itemscope itemtype="http://schema.org/ImageObject">
      <a href="{{ file.path }}">
        <img src="//images.weserv.nl/?url={{ site.baseurl | replace: 'http://','' | replace: 'https://','' }}{{ file.path }}&w=320&h=320&output=jpg&q=50&t=square" />
      </a>
    </div>
    {% endif %}
  {% endfor %}
    </div>
