<div class="masthead" itemscope itemtype="https://schema.org/WPHeader">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <span class="site-title">
          <a href="{{ '/about' | absolute_url }}">
            <span itemprop="image">
                <img src="/assets/icons-850ff6118610b1db2616874ac111f893/favicon.ico" height="25" width="25" class="site-logo" alt="Site Logo" />
              </span></a>
          <span itemprop="name"><a class="site-title" href="{{ '/' | absolute_url }}">{{ site.title }}</a><meta itemprop="description" content="{{ site.title }}"></span></span>
        <ul class="visible-links" itemscope itemtype="https://schema.org/SiteNavigationElement">
          {% if page.links == true %}
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item">
              <a itemprop="url" href="{{ domain }}{{ link.url }}" {% if link.description %}title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
            </li> 
          {% endfor %}
          {% endif %}
          {% if products == true %}
          <li class="masthead__menu-item"><a href="#" class="snipcart-checkout"><span id="cartnumber" style="display: none;"></span><svg version="1.1" id="Shopping_cart" class="icon" width="16" height="16" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M13,17c0,1.104,0.894,2,2,2c1.104,0,2-0.896,2-2c0-1.106-0.896-2-2-2C13.894,15,13,15.894,13,17z M3,17c0,1.104,0.895,2,2,2
                c1.103,0,2-0.896,2-2c0-1.106-0.897-2-2-2C3.895,15,3,15.894,3,17z M6.547,12.172L17.615,9.01C17.826,8.949,18,8.721,18,8.5V3H4V1.4
                C4,1.18,3.819,1,3.601,1H0.399C0.18,1,0,1.18,0,1.4L0,3h2l1.91,8.957L4,12.9v1.649c0,0.219,0.18,0.4,0.4,0.4H17.6
                c0.22,0,0.4-0.182,0.4-0.4V13H6.752C5.602,13,5.578,12.449,6.547,12.172z"></path>
            </svg></a>
          </li>
          {% endif %}
        </ul> 
        <li data-netlify-identity-button class="masthead__menu-item"></li>
        <li id="menu" class="masthead__menu-item"><button class="link-like" data-a11y-dialog-show="my-accessible-dialog"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="16" height="16" viewBox="0 0 448 512"><path fill="#ffffff" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"/></svg></button></li>
        {% if site.search == true %}
        <li class="masthead__menu-item">
        <button class="search__toggle" aria-label="Search" type="button">
          <svg class="icon" width="16" height="16" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 15.99 16">
            <path d="M15.5,13.12L13.19,10.8a1.69,1.69,0,0,0-1.28-.55l-0.06-.06A6.5,6.5,0,0,0,5.77,0,6.5,6.5,0,0,0,2.46,11.59a6.47,6.47,0,0,0,7.74.26l0.05,0.05a1.65,1.65,0,0,0,.5,1.24l2.38,2.38A1.68,1.68,0,0,0,15.5,13.12ZM6.4,2A4.41,4.41,0,1,1,2,6.4,4.43,4.43,0,0,1,6.4,2Z" transform="translate(-.01)"></path>
          </svg>
        </button>
        </li>
        {% endif %}                 
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle Menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden">
        </ul>
      </nav>
    </div>
  </div>
</div>
