{% assign taxonomy = page.autopages.display_name | downcase | slugify %}
{% assign tag = site.data.taxonomy[taxonomy] %}

<div class="intro">
  <div class="inner">
    <div class="intro-text">
      {% unless page.layout == 'archive' %}
        {% if page.date %}
          {% include author %}
          <p class="entry-meta">
            <span class="byline-item"><svg class="icon icon--calendar-alt" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-calendar-alt' | prepend: 'assets/icons/' | relative_url }}"></use></svg>&nbsp;<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%B %-d, %Y' }}</time></span>
            {% if page.work %}
              <span class="byline-item"><svg class="icon icon--folder" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-folder-open' | prepend: 'assets/icons/' | relative_url }}"></use></svg>&nbsp;{{ page.work | markdownify | remove: '<p>' | remove: '</p>' }}</span>
            {% endif %}
            {% if page.read_time %}
              <span class="byline-item"><svg class="icon icon--stopwatch" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-stopwatch' | prepend: 'assets/icons/' | relative_url }}"></use></svg>&nbsp;{% capture read_time %}{% include read-time.html %}{% endcapture %}{{ read_time | strip }}</span>
            {% endif %}
            {% if page.comments == true and site.data.comments[page.slug].size > 0 %}
              <span class="byline-item"><a href="#comments-list"><svg class="icon icon--comments-alt" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-comments-alt' | prepend: 'assets/icons/' | relative_url }}"></use></svg>&nbsp;{{ site.data.comments[page.slug] | size }} Comment{% if site.data.comments[page.slug].size > 1 %}s{% endif %}</a></span>
            {% endif %}
          </p>
          <p id="review-count" class="entry-item text-right">
            {% assign reviews = site.data.reviews | where:'product',page.slug %}
            {% assign reviewCount = reviews | size %}
            {% assign sum = 0 %}
            {% for review in reviews %}
              {% assign sum = sum | plus: review.review %}
            {% endfor %}
            <span class="byline-item text-right"><svg class="icon icon--stopwatch" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-stopwatch' | prepend: 'assets/icons/' | relative_url }}"></use></svg>&nbsp;Rating
              {% if reviewCount > 0 %}
                {% assign sum = sum | divided_by:reviewCount %}
                (Average: {{ sum | round: 1 }})
              {% endif %}
            </span>
            <input name="fields[product]" type="hidden" value="{{ page.slug }}" />
          </p>
        {% endif %}
      {% endunless %}
    </div>
  </div>
</div>
