<div class="full-width">
	<div class="form-group">
		<select id="my-size" class="form-control full-width">                                                                                                            
			<option value="small">Small 25.70</option>                            
			<option value="medium">Medium 25.70</option>                            
			<option value="large">Large 25.70</option>    
			<option value="x-large">X-Large 25.70</option>   
		</select>
	</div>
	<div class="form-group">
			<select id="my-color" class="form-control full-width">                                                                                                            
				<option value="black">Black</option>                            
				<option value="cream">Cream</option>                            
			</select>
	</div>
	<div class="form-group">
	   <input class="form-control" type="number" id="my-quantity" value="1" />
	</div>
</div>
