<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="Register">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="signup" method="POST">
        <div class="modal-body">
          <div class="form-group">
            <label for="registerFirstName" class="control-label">First Name:</label>
            <input type="text" class="form-control" id="registerFirstName">
          </div>
          <div class="form-group">
            <label for="registerLastName" class="control-label">Last Name:</label>
            <input type="text" class="form-control" id="registerLastName">
          </div>
          <div class="form-group">
            <label for="registerEmail" class="control-label">Email:</label>
            <input type="text" class="form-control" id="registerEmail">
          </div>
          <div class="form-group">
            <label for="registerPassword" class="control-label">Password:</label>
            <input type="password" class="form-control" id="registerPassword">
          </div>
          <div class="form-group">
            <label for="registerConfirmPassword" class="control-label">Confirm Password:</label>
            <input type="password" class="form-control" id="registerConfirmPassword">
          </div>
          <div class="form-group">
            <label for="registerPhoto" class="control-label">Profile Picture:</label>
            <input type="file" class="form-control" id="registerPhoto">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" id="doRegister">Register</button>
        </div>
        <div class="message" id="output">
        </div>
      </form>
    </div>
  </div>
</div>