<div class="js-comments">
	{% assign reviews = site.data.reviews | sort %}
		
		{% for review in reviews reversed %}
			{% assign reviewData = review[1] %}
	
			<article>
				<div class="field-group form-group rating-select">
			    		<span>Rating:</span>						
		  				{% for i in (1..reviewData.rating) %}
    						<svg class="icon icon--star rating-star rating-radio-star--on"><use xlink:href="{{ 'icons.svg#icon-star' | prepend: 'assets/icons/' | relative_url }}"></use></svg>
					  	{% endfor %}
				</div>
				<div class="form-group">
					<h2 class="title-text">{{ reviewData.title }}</h2>
				</div>
				<div class="form-group">
					<p>Review by: {{ reviewData.name }}</p>
					<div class="form-group">
						{{ reviewData.description | markdownify }}
					</div>
				</div>
			</article>
		{% endfor %}
</div>