<div class="js-comments">
	{% if site.data.reviews[page.slug] %}
	{% assign reviews = site.data.reviews[page.slug] | sort %}
		
		{% for review in reviews %}
			{% assign reviewData = review[1] %}
	
			<article itemscope itemtype="http://schema.org/Review" class="form">
				<span style="display: none;" itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
					<meta itemprop="name">{{ page.url }}</meta>
				</span>
				<header class="section-title">
					<h3>Page Reviews</h3>
				</header>
				<div class="form-group">
					<h3 class="title-text">{{ reviewData.title }}</h3>
				</div>
				<div class="form-group form">	            
					<div class="field-group1" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">			    								
							<span>Rating:</span>
		  				{% for i in (1..reviewData.rating) %}
    						<svg class="icon icon--star rating-star rating-radio-star--on" itemprop="ratingValue"><use xlink:href="{{ 'icons.svg#icon-star' | prepend: 'assets/icons/' | relative_url }}"></use></svg>
						{% endfor %}
					</div>
					<meta class="hidden" itemprop="bestRating">5</meta>
					<meta class="hidden" itemprop="worstRating">1</meta>
				</div>
				<div class="form-group" itemprop="author" itemscope itemtype="http://schema.org/Person">
					<span itemprop="name">From:{{ reviewData.name }}</span>
				</div>
				<div class="form-group">
					<p>Description:</p>
                    <p>{{ reviewData.description | markdownify }}</p>
				</div>				
				<span style="display: none;" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
					<meta class="hidden" itemprop="name" content="donboulton.com">
				</span>
			</article>
		{% endfor %}
		{% for review in reviews %}
            {% assign rating = review[1].rating %}
    		{% assign title = review[1].title %}
            {% assign name = review[1].name %}
    		{% assign description = review[1].description %}
	    {% endfor %}

	{% endif %}
</div>