<section id="static-comments">
  <div class="js-comments">
      {% if site.data.reviews[page.slug] %}
        <h4 class="page__comments-title">{{ site.data.ui-text[site.locale].reviews_title | default: "Reviews" }}</h4>
        {% assign reviews = site.data.reviews[page.slug] | sort %}
		    {% for review in reviews %}
            {% assign review = review[1].review %}
            {% assign title = review[1].title %}
            {% assign url = review[1].url %}
            {% assign name = review[1].name %}
            {% assign date = review[1].date %}
            {% assign description = review[1].description %}
            {% include review.html index=index review=review email=email name=name url=url date=date description=description %}
    {% endfor %}
    % endif %}
  </div>
</section>