<div id="reviews" class="entry-reviews">
    {% if page.reviews == true and site.data.reviews | where:'product',page.slug.size > 1 %}
    {% assign reviews = site.data.reviews | where:'product',page.slug %}
    {% assign reviews = site.data.reviews | sort %}
    <header class="section-title">
      {% if page.reviews == true and site.data.reviews | where:'product',page.slug.size > 0 %}
        <span class="byline-item"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon icon--chart-area"><path d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"/></svg>&nbsp;<span>{{ site.data.reviews | where:'product',page.slug | size }}</span> Page Review{% if site.data.reviews | where:'product',page.slug.size > 1 %}s{% endif %}</span>
      {% endif %}
    </header>
    <div id="respond-collapsible">
      <button class="collapsible btn btn--light-outline">Open&nbsp;Page Reviews&nbsp;&rarr;</button>
    <div class="content-collapsible">
    <div class="flex-container">
	  {% for review in reviews reversed limit:4 %}
    {% assign reviewData = review[1] %}

		<article itemscope itemtype="http://schema.org/Review" class="flex-item">
			<div class="review-content">
            <div><span class="item-reviewed">Item Reviewed</span></div>
            <div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
                <span itemprop="name">{{ reviewData.product | strip_html }}</span>
            </div>
            <div class="review__date">
              {% if reviewData.date %}
              {% if reviewData.index %}<a href="#review{{ reviewData.index }}" itemprop="url">{% endif %}
                  <span class="heading">Dated:&nbsp;</span><time datetime="{{ reviewData.date | date_to_xmlschema }}" itemprop="datePublished">{{ reviewData.date | date: "%B %d, %Y at %I:%M %p" }}</time>
              {% if reviewData.index %}</a>{% endif %}
              {% endif %}
            </div>
				<div class="group" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
            <div class="field-group1">
							<span class="heading">Rating:</span>
		  				{% for i in (1..reviewData.review) %}
    						<svg class="icon icon--star rating-star rating-radio-star--on"><use xlink:href="{{ 'icons.svg#icon-star' | prepend: 'assets/icons/' | relative_url }}"></use></svg>
              {% endfor %}
            </div>
            {% assign reviews = site.data.reviews | where:'product',page.slug %}
            {% assign reviewCount = reviews | size %}
            {% assign sum = 0 %}
            {% for review in reviews %}
              {% assign sum = sum | plus: review.review %}
            {% endfor %}
            <div class="group">
              <span class="byline-item text-right">Page Rating
                {% if reviewCount > 0 %}
                  {% assign sum = sum | divided_by:reviewCount %}
                  (&nbsp;Average:&nbsp;<span>{{ sum | round: 1 }}&nbsp;</span>)
                {% elsif site.data.reviews | where:'product',page.slug.reviewCount.size > 0 %} 0 {% else %}
                {% endif %}
              </span>
              <meta type="hidden" itemprop="ratingValue" content="{{ reviewData.review }}">
            </div>
          </div>
        <div class="heading">Title:</span>&nbsp;<span class="title-text">{{ reviewData.title }}</div>
        <div itemprop="author" class="review-author" itemscope itemtype="http://schema.org/Person">
          <div class="heading">Author</div>
            <img itemprop="image" avatar="{{ reviewData.name }}" alt="{{ reviewData.name }}" class="review-avatar-image text-left" />
            {% unless reviewData.url == blank %}
            <small><span class="review-author-name">
              <span itemprop="url">
                <a rel="external noreferrer" href="{{ reviewData.url }}"></span>
                  <span itemprop="name">{{ reviewData.name | strip_html }}</span>
                </a>
              {% else %}
                {{ reviewData.name | strip_html }}
              {% endunless %}
            </span></small>
        </div>
				<div class="group">
            <div class="heading">Message</div><div itemprop="reviewBody"> {{ reviewData.description | markdownify | strip_html | truncate: 130 }}</div>
				</div>
			</div>
      <span style="display: none;" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        <meta class="hidden" itemprop="name" content="donboulton.com">
      </span>
      <meta itemprop="url" type="hidden" value="{{ page.url | absolute_url }}">
      <input type="hidden" name="options[parent]" value="{{ page.url | absolute_url }}">
    </article>
    {% endfor %}
    {% endif %}
    </div>
   </div>
  </div>
</div>