<div id="reviews" class="js-comments">
  {% if page.reviews == true and site.data.reviews | where:'product',page.slug.size > 1 %}
  {% assign reviews = site.data.reviews | where:'product',page.slug %}
	{% assign reviews = site.data.reviews | sort %}

	{% for review in reviews reversed limit:3 %}
		{% assign reviewData = review[1] %}
		<article itemscope itemtype="http://schema.org/Review" class="toc1">
				<span class="section-title">
					<h3 class="nav__title1"><svg width="14px" height="16px" class="icon icon--pulse" viewBox="0 0 14 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<g id="Octicons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g id="pulse" fill="#ffffff">
								<polygon id="Shape" points="11.5 8 8.8 5.4 6.6 8.5 5.5 1.6 2.38 8 0 8 0 10 3.6 10 4.5 8.2 5.4 13.6 9 8.5 10.6 10 14 10 14 8"></polygon>
							</g>
						</g>
					</svg> Page Review</span></h3>
				</span>
			<div class="review-content">
				<div class="form-group">
          <div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
               <span class="item-reviewed text-center">Item Reviewed</span>
               <p><span itemprop="name">{{ reviewData.title }}</span></p>
            </div>
				</div>
				<div class="form-group form">
             <div class="field-group1" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
							<span>Rating</span>
		  				{% for i in (1..reviewData.review) %}
    						<svg class="icon icon--star rating-star rating-radio-star--on"><use xlink:href="{{ 'icons.svg#icon-star' | prepend: 'assets/icons/' | relative_url }}"></use></svg>
							{% endfor %}
              <meta class="hidden" itemprop="ratingValue" content="{{ reviewData.review }}">
              Title:&nbsp;<span class="title-text">{{ reviewData.title }}</span>
					</div>
				</div>
        <div itemprop="author" class="review-author" itemscope itemtype="http://schema.org/Person">
          <div>Author</div>
            <img itemprop="image" avatar="{{ reviewData.name }}" alt="{{ reviewData.name }}" class="review-avatar-image text-left" />
            <span itemprop="name" class="review-author-name"><small>{{ reviewData.name }}</small>
            <span itemprop="url" class="review-author-url"><small>{{ reviewData.url }}</small></span></span>
        </div>
				<div class="form-group">
            <span>Message</span><span itemprop="reviewBody"></span> {{ reviewData.description | markdownify }}</span>
				</div>
			</div>
				<span style="display: none;" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
          <meta class="hidden" itemprop="name" content="donboulton.com">
        </span>
        <meta itemprop="url" type="hidden" value="{{ page.url | absolute_url }}">
        <input type="hidden" name="options[parent]" value="{{ page.url | absolute_url }}">
		</article>
  {% endfor %}
  {% endif %}
</div>