<style>
    #map {
      height: 600px;
      width: 100%;
     }
</style>
<meta name="geo.placename" content="720 S Rockwell Ave, Oklahoma City, OK 73128, USA" />
<meta name="geo.position" content="35.4582062;-97.6338859" />
<meta name="geo.region" content="US-Oklahoma" />
<meta name="ICBM" content="35.4582062, -97.6338859" />
<div clas="container">
<a class="btn btn--primary" target="_blank" href="https://www.google.com/maps/dir/720+S+Rockwell+Ave,+Oklahoma+City,+OK+73128/">Directions</a>
<a class="btn btn--primary" target="_blank" href="https://www.google.com/search?q=rockwell+rv+park&ie=utf-8&oe=utf-8&client=firefox-b-1-ab#lrd=0x87b20fb59e4acc97:0xcef9b5ffc8f235d7,1,,,">Google Reviews</a>

<div id="map" class="map"></div>
<script>
        function initMap() {
          var uluru = {lat: 35.458429035, lng: -97.634299097};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: uluru
          });
          var marker = new google.maps.Marker({
            position: uluru,
            map: map
          });
        }
</script>
</div>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcWFi5XIFAY_L9Kkfh2fT46p_rFJyjDHA&callback=initMap">
</script>
