{% if site.footer_scripts %}
  {% for script in site.footer_scripts %}
    {% if script contains "://" %}
      {% capture script_path %}{{ script }}{% endcapture %}
    {% else %}
      {% capture script_path %}{{ script | relative_url }}{% endcapture %}
    {% endif %}
<script src="{{ script_path }}"></script>
  {% endfor %}
{% else %}
<script src="{{ '/build/js/vendor/jquery/jquery-3.3.1.min.js' | relative_url }}"></script>
<script asnyc src="{{ '/build/js/vendor/letter-avatar/letter-avatar.js' | relative_url }}"></script>
{% endif %}

{% if site.search == true or page.layout == "search" %}
  {%- assign search_provider = site.search_provider | default: "lunr" -%}
  {%- case search_provider -%}
    {%- when "lunr" -%}
      {% include search/lunr-search-scripts.html %}
    {%- when "google" -%}
      {% include search/google-search-scripts.html %}
    {%- when "algolia" -%}
      {% include search/algolia-search-scripts.html %}
  {%- endcase -%}
{% endif %}

{% if page.support contains 'gallery' %}
  <script src="{{ '/public/lightgallery.min.js' | relative_url }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.5/isotope.pkgd.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.3/picturefill.min.js" crossorigin="anonymous"></script>
  <script src="{{ '/build/dist/js/imagesloaded.pkgd.min.js' | relative_url }}"></script>
  <script src="{{ '/build/dist/modules/lg-autoplay.min.js' | relative_url }}"></script>
  <script src="{{ '/build/dist/modules/lg-fullscreen.min.js' | relative_url }}"></script>
  <script src="{{ '/build/dist/modules/lg-share.min.js' | relative_url }}"></script>
  <script src="{{ '/build/dist/modules/lg-thumbnail.min.js' | relative_url }}"></script>
  <script src="{{ '/build/dist/modules/lg-zoom.min.js' | relative_url }}"></script>
  <script src="{{ '/build/dist/js/init-lightgallery.js' | relative_url }}"></script>
{% endif %}

{% if page.support contains 'places' %}
  <script src="{{ '/build/js/vendor/google-places/google-places.js' | relative_url }}" crossorigin="anonymous"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcWFi5XIFAY_L9Kkfh2fT46p_rFJyjDHA&libraries=places" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function() {
      $("#google-reviews").googlePlaces({
          placeId: 'ChIJl8xKnrUPsocR1zXyyP-1-c4'
        , render: ['reviews','address','hours','phone','staticMap']
        , min_rating: 4
        , max_rows: 3
        , map_plug_id: 'ChIJl8xKnrUPsocR1zXyyP-1-c4'
        , schema:{
              displayElement: "#schema"
            , type: 'Article'
            , beforeText: 'Google Users Have Rated'
            , middleText: 'based on'
            , afterText: 'ratings and reviews'
          }
        , address:{
            displayElement: "#custom-address-id"
          }
        , staticMap:{
            displayElement: "#google-static-map"
          }
      });
      function initMap() {
          var uluru = {lat: 35.458429035, lng: -97.634299097};
          var map = new google.maps.Map(document.getElementById('google-static-map'), {
            zoom: 16,
            center: uluru
          });
          var marker = new google.maps.Marker({
            position: uluru,
            map: map
          });
        }
    });
  </script>
{% endif %}

{% if page.support contains 'admin' %}
<script src="{{ '/public/admin.js' | relative_url }}"></script>

{% endif %}

{% if page.support contains 'cart' %}
<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="NGViODk5ZDAtNmU4OC00MjI5LWIxMGMtZGZmOWEwOGRhM2M1NjM2NjE0Nzc1OTQ2NzMzMTU5" crossorigin="anonymous"></script>
{% endif %}

{% if page.support contains 'cookies' %}
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?tracking=1&showNoConsent=1&privacyPage=https%3A%2F%2Fdonboulton.com%2Fterms%23cookies--beacons"></script>
{% endif %}

{% comment %} <!--  my own validation scripts and scss from sitepoint.com/instant-validation/ -->{% endcomment %}

{% if page.support contains 'dragula' %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js" crossorigin="anonymous"></script>
  <script src="{{ '/build/js/vendor/dragula/example.min.js' | relative_url }}"></script>
{% endif %}

{% if page.support contains 'lightbox' %}
   {% include lightbox.html %}
{% endif %}

{% if page.support contains 'weather' %}
<script src="{{ '/build/js/vendor/weather/weather.js' | relative_url }}"></script>
<script>
    Weather.getCurrent( "4544349", function( current ) {
        $( "#current" ).html( "Temperature: " + current.temperature() + "&deg;K or " +
            Weather.kelvinToFahrenheit( current.temperature() ) + "&deg;F or " +
            Weather.kelvinToCelsius( current.temperature() ) + "&deg;C" +
            "<br />Current Conditions: " + current.conditions() );
    });
    Weather.getForecast( "4544349", function ( forecast ) {
        $( "#forecast" ).html( "High: " + forecast.high() + "&deg;K or " +
            Weather.kelvinToFahrenheit( forecast.high() ) + "&deg;F or " +
            Weather.kelvinToCelsius( forecast.high() ) + "&deg;C<br />Low: " +
            forecast.low() + "&deg;K or " +
            Weather.kelvinToFahrenheit( forecast.low() ) + "&deg;F or " +
            Weather.kelvinToCelsius( forecast.low() ) + "&deg;C" );
    });
</script>
{% endif %}

{% if page.support contains 'admin' %}
  <script src="https://unpkg.com/file-upload-with-preview"></script>
  <script>
            var firstUpload = new FileUploadWithPreview('myFirstImage')
            var firstUploadInfoButton = document.querySelector('.upload-info-button--first');
            firstUploadInfoButton.addEventListener('click', function(){
                console.log('First upload:', firstUpload, firstUpload.cachedFileArray);
            })

            var secondUpload = new FileUploadWithPreview('mySecondImage', {showDeleteButtonOnImages: true})
            var secondUploadInfoButton = document.querySelector('.upload-info-button--second');
            secondUploadInfoButton.addEventListener('click', function(){
                console.log('Second upload:', secondUpload, secondUpload.cachedFileArray)
            })

            // Image selected event listener
            window.addEventListener('fileUploadWithPreview:imageSelected', function(e) {
                // e.detail.uploadId
                // e.detail.cachedFileArray
                // e.detail.selectedFilesCount
                // Use `e.detail.uploadId` to match up to your specific input
                if (e.detail.uploadId === 'myFirstImage') {
                    console.log(e.detail.selectedFilesCount)
                    console.log(e.detail.cachedFileArray)
                }

                if (e.detail.uploadId === 'mySecondImage') {
                    console.log(e.detail.selectedFilesCount)
                    console.log(e.detail.cachedFileArray)
                }
            })

            // Image deleted event listener
            window.addEventListener('fileUploadWithPreview:imageDeleted', function(e) {
                if (e.detail.uploadId === 'mySecondImage') {
                    console.log(e.detail.selectedFilesCount)
                    console.log(e.detail.cachedFileArray)
                }
            })
        </script>
{% endif %}

{% if page.support contains 'calendar' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/3.8.3/superagent.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.0.0-alpha/fullcalendar.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.0.0-alpha/gcal.min.js" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
 document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
  header: {
    defaultView: 'month',
    left: 'prev,next today',
    center: 'title',
    right: 'month,listYear'
  },
  displayEventTime: false,
  googleCalendarApiKey: 'AIzaSyAcWFi5XIFAY_L9Kkfh2fT46p_rFJyjDHA',
  events: 'en.usa#holiday@group.v.calendar.google.com',
  eventClick: function(event) {

    window.open(event.url, 'gcalevent', 'width=700,height=600');
    return false;
  },

       loading: function(bool) {
        document.getElementById('loading').style.display =
          bool ? 'block' : 'none';
      }
    });
    calendar.render();
  });
});
</script>
{% endif %}

{% if page.youtube == true %}
<script src="{{ '/build/js/vendor/fitvids/jquery.fitvids.min.js' | relative_url }}"></script>
<script>
  $("#main").fitVids();
</script>
{% endif %}

{% if page.anchor == true %}
<script asnyc src="{{ '/build/js/vendor/anchor/anchor.js' | relative_url }}"></script>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
anchors.options = {
  visible: 'always',
  placement: 'left',
  icon: '¶'
};
anchors.add('p');
});
</script>
{% endif %}

{% if page.footnotes == true %}
  <script asnyc src="{{ '/build/js/vendor/bigfoot/bigfoot.min.js' | relative_url }}"></script>
  <script>
    var bigfoot = $.bigfoot(
        {
            deleteOnUnhover: false,
            preventPageScroll: false,
            hoverDelay: 250
        }
    );
  </script>
{% endif %}
<script async defer src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script asnyc src="{{ '/public/init.site.sw.js' | relative_url }}"></script>
{% if page.chat == true %}
<script src="https://embed.small.chat/T8PMJ5ZNYGDRA9BJEA.js" async></script>
{% endif %}
