{% if site.footer_scripts %}
  {% for script in site.footer_scripts %}
    {% if script contains "://" %}
      {% capture script_path %}{{ script }}{% endcapture %}
    {% else %}
      {% capture script_path %}{{ script | relative_url }}{% endcapture %}
    {% endif %}
<script src="{{ script_path }}"></script>
  {% endfor %}
{% else %}
<script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/vendor/letter-avatar/letter-avatar.js' | relative_url }}"></script>
{% endif %}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% if site.search == true or page.layout == "search" %}
  {%- assign search_provider = site.search_provider | default: "lunr" -%}
  {%- case search_provider -%}
    {%- when "lunr" -%}
      {% include search/lunr-search-scripts.html %}
    {%- when "algolia" -%}
      {% include search/algolia-search-scripts.html %}
  {%- endcase -%}
{% endif %}

{% if page.support contains 'gallery' %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.5/isotope.pkgd.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.3/picturefill.min.js" crossorigin="anonymous"></script>
  <script src="{{ '/assets/dist/js/imagesloaded.pkgd.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/dist/modules/lg-autoplay.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/dist/modules/lg-fullscreen.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/dist/modules/lg-share.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/dist/modules/lg-thumbnail.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/dist/modules/lg-zoom.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/dist/js/init-lightgallery.js' | relative_url }}"></script>
{% endif %}

{% if page.support contains 'places' %}
  <script src="{{ '/assets/js/vendor/google-places/google-places.js' | relative_url }}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcWFi5XIFAY_L9Kkfh2fT46p_rFJyjDHA&libraries=places"></script>
  <script>
    $(document).ready(function() {
      $("#google-reviews").googlePlaces({
          placeId: 'ChIJl8xKnrUPsocR1zXyyP-1-c4'
        , render: ['reviews','address','hours','phone','staticMap']
        , min_rating: 4
        , max_rows: 3
        , map_plug_id: 'ChIJl8xKnrUPsocR1zXyyP-1-c4'
        , schema:{
              displayElement: "#schema"
            , type: 'Article'
            , beforeText: 'Google Users Have Rated'
            , middleText: 'based on'
            , afterText: 'ratings and reviews'
          }
        , address:{
            displayElement: "#custom-address-id"
          }
        , staticMap:{
            displayElement: "#google-static-map"
          }
      });
      function initMap() {
          var uluru = {lat: 35.458429035, lng: -97.634299097};
          var map = new google.maps.Map(document.getElementById('google-static-map'), {
            zoom: 16,
            center: uluru
          });
          var marker = new google.maps.Marker({
            position: uluru,
            map: map
          });
        }
    });
  </script>
{% endif %}

{% if page.support contains 'contact' %}
% include contact-scripts.html %}
{% endif %}

{% if page.support contains 'cart' %}
<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="NGViODk5ZDAtNmU4OC00MjI5LWIxMGMtZGZmOWEwOGRhM2M1NjM2NjE0Nzc1OTQ2NzMzMTU5"></script>
{% endif %}

{% if page.support contains 'cookies' %}
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function() {
    window.cookieconsent.initialise({
        "palette": {
            "popup": {
                "background": "#031111",
                "text": "#d6d6d6"
            },
            "button": {
                "background": "#1faaaa"
            }
        },
        revokable:true,
        onStatusChange: function(status) {
          console.log(this.hasConsented() ?
             'enable cookies' : 'disable cookies');
         },
         law: {
           regionalLaw: false,
         },
         location: true,
        "theme": "edgeless",
        "position": "bottom-left",
        "content": {
            "href": "https://donboulton.com/terms/#cookies-and-web-beacons"
        }
    })
});
</script>
{% endif %}

{% if page.support contains 'visualcaptcha' %}
<script src="{{ '/assets/js/vendor/visualcaptcha/visualcaptcha.jquery.js' | relative_url }}"></script>
<script>
  var captcha = visualCaptcha( 'comments-captcha', {
      imgPath: '/assets/images/visualcaptcha/',
      captcha: {
          numberOfImages: 5,
              callbacks: {
                  loading: function( captcha ){
                  console.log( 'I am loading.', captcha );
              },
              loaded: function( captcha ){
                  console.log( 'I am loaded.', captcha );
              }
          }
      }
  });
</script>
{% endif %}
<script>
  $(document).ready(function() {
    svg4everybody();

    $("a").smoothScroll({ offset: -20 });
  });
  var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>
{% if page.comments == true %}
  <script src="{{ '/assets/js/staticman/staticman-comments.js' | relative_url }}"></script>
{% endif %}

{% if page.reviews == true %}
  <script src="{{ '/assets/js/staticman/staticman-reviews.js' | relative_url }}"></script>
  <script async src="https://www.google.com/recaptcha/api.js"></script>
{% endif %}

{% if page.support contains 'lightbox' %}
   {% include lightbox.html %}
{% endif %}