{% if site.footer_scripts %}
  {% for script in site.footer_scripts %}
    {% if script contains "://" %}
      {% capture script_path %}{{ script }}{% endcapture %}
    {% else %}
      {% capture script_path %}{{ script | relative_url }}{% endcapture %}
    {% endif %}
<script src="{{ script_path }}"></script>
  {% endfor %}
{% else %}
<script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
{% endif %}
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load",function(){window.cookieconsent.initialise({"palette":{"popup":{"background":"#3c404d","text":"#d6d6d6"},"button":{"background":"#8bed4f"}},"theme":"edgeless","position":"bottom-left","content":{"href":"https://donboulton.com/terms/#cookies-and-web-beacons"}})});
</script>

{% if site.search == true or page.layout == "search" %}
  {%- assign search_provider = site.search_provider | default: "lunr" -%}
  {%- case search_provider -%}
    {%- when "lunr" -%}
      {% include search/lunr-search-scripts.html %}
    {%- when "algolia" -%}
      {% include search/algolia-search-scripts.html %}
  {%- endcase -%}
{% endif %}

{% if page.support contains 'gallery' %}  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.5/isotope.pkgd.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.3/picturefill.min.js" crossorigin="anonymous"></script>
  <script src="{{ '/assets/dist/js/imagesloaded.pkgd.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/dist/modules/lg-autoplay.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/dist/modules/lg-fullscreen.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/dist/modules/lg-share.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/dist/modules/lg-thumbnail.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/dist/modules/lg-zoom.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/dist/js/init-lightgallery.js' | relative_url }}"></script>
{% endif %}

{% if page.support contains 'cloudinary' %}
  <script src="https://widget.cloudinary.com/global/all.js"></script> 
{% endif %}

{% include analytics.html %}
{% include /comments-providers/scripts.html %}