<div id="style-3" class="style-4 sidebar sticky">
    <div id="external-events">
      <h4>Draggable Events</h4>
      <div class="fc-event ui-draggable ui-draggable-handle">My Event 1</div>
      <div class="fc-event ui-draggable ui-draggable-handle">My Event 2</div>
      <div class="fc-event ui-draggable ui-draggable-handle">My Event 3</div>
      <div class="fc-event ui-draggable ui-draggable-handle">My Event 4</div>
      <div class="fc-event ui-draggable ui-draggable-handle">My Event 5</div>
      <p>
          <h3 for="drop-remove">remove after drop</h3>
          <div class="enable-push">
              <div class="toggle-switch">
                <input aria-label="Remove" id="remove" name="remove" value="remove" type="checkbox" />
                <label for="remove"></label>
              </div>
            </div>
      </p>
    </div>
</div>

