<article class="toc1">
    <div>
        <span class="section-title">
           <h3 class="nav__title1">
           <svg class="icon icon--bell fa-bell" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-bell' | prepend: '/build/icons/' | relative_url }}"></use></svg>&nbsp;
           Notications</h3>
        </span>
    </div>
    <p>
        You probably noticed that your browser asked if you allowed notifications from this website.
        If you accepted you are already subscribed to your own private channel to receive notifications.
    </p>

    <p>
      Your channel is: <code><span id="channel">...</span></code>
    </p>
    <div id="app" class="form-group"></div>
    <div id="root"></div>
    <div class="toc1__menu">
      <h3>Firebase Comments</h3>
        <span class="byline-item">
          <h3><svg class="icon icon--comments-alt" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-comments-alt' | prepend: '/assets/images/' | relative_url }}"></use></svg>&nbsp;{% if site.data.comments[page.slug].size > 1 %}{{ site.data.comments[page.slug] | size | append: ' ' }}{% endif %}<a href="https://donboulton.com/{{ page.url }}#comments">Comments</a></h3>
        </span>
        <ul id="list" class="mdl-list"></ul>
    </div>
</article>

