<div id="style-3" class="style-3 sidebar sticky">
    <div class="form-froup">
      <h3>Login for GCal</h3>
      <button id="authorize_button" class="btn btn--primary" style="display: none;">Authorize</button>
      <button id="signout_button" class="btn btn--danger" style="display: none;">Sign Out</button>
    </div>
    <h3>Calendar Events Lists</h3>
    <div class="form-group">
      <pre id="pre_content" style="white-space: pre-wrap;"></pre>
    </div>    
    <div id="external-events">
      <h4>Draggable Events</h4>
      <div id='external-events-list' class="form-group">
        <div class="fc-event">Avaliable</div>
        <div class="fc-event">Busy</div>
        <div class="fc-event">Notify</div>
        <div class="fc-event">Tasks</div>
        <div class="fc-event">Reminders</div>        
      </div>
      <div class="form-group">
        <div class="enable-push">
          <div class="toggle-switch">
            <input aria-label="drop-remove" id="drop-remove" name="drop-remove" value="drop-remove" type="checkbox" />
            <label for="drop-remove"></label>
          </div><span for="drop-remove">&nbsp;drop remove</span>
        </div>
      </div>
    </div>
</div>

