<div class="full-width">
		<div>Please Agree to Our <a href="https://donboulton.com/terms#purchases">Terms</a>&nbsp;<abbr class="abbr" title="Required">&nbsp;*&nbsp;</abbr></div>
		<div class="enable-push">
				<div class="toggle-switch">
					<input aria-label="Terms and Conditions" id="product-terms" name="product-terms" type="checkbox" />
					<label for="product-terms"></label>
				</div>
			</div>
		<div class="form-group">
		  <button id="my-button" class="snipcart-add-item"
			data-api-key="NDhkOWU1ZGQtNWQyZi00ZDVmLThmYmEtZDFiYmJhYzdmYTE3NjM2NjE0Nzc1OTQ2NzMzMTU5"
			data-item-id="{{ product.sku }}"
		  data-item-name="{{ product.name }}"
		  data-item-image="{{ product.image }}"
		  data-item-description="{{ product.description_markdown }}"
			data-item-custom1-name="Size"
		  data-item-custom1-options="{{ product.sizes | join: '|' }}"
		  data-item-custom1-value="Medium"
		  data-item-custom2-name="Color"
		  data-item-custom2-options="{{ product.colors | join: '|' }}"
		  data-item-custom3-name="Stock"
		  data-item-custom3-options="{{ product.stock }}"
		  data-cart-custom4-name="Do you accept our terms?"
		  data-cart-custom4-options="true|false"
		  data-cart-custom4-required="true"
		  data-item-url="{{ site.baseurl }}{{ product.url }}"
			data-item-quantity="1"
		  data-item-price="{{ product.price | join: '|' }}">
			Buy it for $ {{ product.price }}
		  </button>
		</div>
</div>
