<script type="text/javascript">
  // 86acbd31cd7c09cf30acb66d2fbedc91daa48b86:1532977531.56
  !function(n,t,c,e,u){function r(n){try{f=n(u)}catch(n){return h=n,void i(p,n)}i(s,f)}function i(n,t){for(var c=0;c<n.length;c++)d(n[c],t);
  }function o(n,t){return n&&(f?d(n,f):s.push(n)),t&&(h?d(t,h):p.push(t)),l}function a(n){return o(!1,n)}function d(t,c){
  n.setTimeout(function(){t(c)},0)}var f,h,s=[],p=[],l={then:o,catch:a,_setup:r};n[e]=l;var v=t.createElement("script");
  v.src=c,v.async=!0,v.id="_uasdk",v.rel=e,t.head.appendChild(v)}(window,document,'https://web-sdk.urbanairship.com/notify/v1/ua-sdk.min.js',
    'UA', {
      appKey: '1aQDr7-6SVyBngQwRKgXtA',
      token: 'MToxYVFEcjctNlNWeUJuZ1F3UktnWHRBOkxGMmM1UmJyN2h0c2NLRmVZUHpTN2VRNThYUlFQTnk1TjFTT3N1OFBVOFk',
      vapidPublicKey: 'BJHTWH3_SATKp4Exa2oaFNYk92PSXIQl-wODOTPU300bMbwCP8QiQkKG82LYw0PQlz0bCC73HZeWe6q88apmQFQ='
    });
  
  </script>
