<div class="toc1">
  <span class="section-title"> <h3 class="nav__title1"><img class="icon" src="/assets/images/snipcart-32.jpg"/>&nbsp;Cart Dashboard</h3> </span>  
  <div class="toc1__menu">
    <div class="snipcart-summary">
        <a href="#" class="snipcart-user-email snipcart-user-profile external-links">
            <h3>Customer Dashboard</h3>
        </a>
    </div>
    <div>
        <h3>Cart Items and Price</h3>
    </div>
    <div class="snipcart-summary">
       <div>Number of items: <span class="icon snipcart-total-items text-center"></span></div>
       <div>Total price: <span class="snipcart-total-price"></span></div>
    </div>
  </div>
</div>  
