{% assign colors = "" %}
{% for style in include.product.styles %}
	{% assign colors = colors | append: '|' | append: style.name %}
{% endfor %}
{% assign sizes = colo | remove_first: '|' %}
{% assign sizes = "" %}
{% for style in include.product.sizes %}
	{% assign colors = colors | append: '|' | append: style.name %}
{% endfor %}
{% assign colors = colors | remove_first: '|' %}

<button class="snipcart-add-item"
	data-item-name="{{ product.name }}"
	data-item-id="{{ product.sku }}"
	data-item-image="{{ product.styles.first.image }}"
	data-item-description="{{ product.description }}"
	data-item-custom1-name="Size"
	data-item-custom1-options="{{ sizes | join: '|' }}"
	data-item-custom1-value="Medium"
	data-item-custom2-name="Color"
	data-item-custom2-options="{{ colors }}"
	data-item-url="{{ product.url }}"
	data-item-price="{{ product.price }}">
	{% if include.text %}{{ include.text }}{% else %}Add to cart{% endif %}
</button>
