<article class="toc1">
    <span class="section-title">
        <h3 class="nav__title1">
        <svg class="icon icon--bell fa-bell" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-bell' | prepend: 'assets/icons/' | relative_url }}"></use></svg>&nbsp;
        Notications</h3>
    </span>
  <div class="toc1__menu">
      <h3>Firebase Comments</h3>
      <span class="byline-item"><svg class="icon icon--comments-alt" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-comments-alt' | prepend: 'assets/icons/' | relative_url }}"></use></svg>&nbsp;<a href="https://donboulton.com/{{ page.url }}#comments">0 Comments</a></span>
      </a></small>
        <ul id="list" class="mdl-list"></ul>
  </div>
  <div id="comments" class="form-group comment-list">
    <div class="comments__text"></div>
    <button class="comments__action btn btn-primary" type="button" aria-label="Post Notify">Notify</button>
</div>

</article>

