<div class="notice">

  <h2>Send a Donation</h2>

If you'd like to send a donation my way so I can continue to provide free content and or Feed Kittys.

<div markdown="0" class="btn--group">
  <a href="https://www.paypal.me/donaldboulton" onclick="ga('send', 'event', 'link', 'click', 'Send PayPal');" class="btn btn--primary">
    <svg class="icon icon--paypal" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-paypal' | prepend: 'assets/icons/' | relative_url }}"></use></svg> Send PayPal Money
  </a>
  <a href="https://cash.me/$donaldboulton" onclick="ga('send', 'event', 'link', 'click', 'Send Square Cash');" class="btn btn--primary">Send Square Cash</a>
</div>
</div>

