<div class="wrapper">
<div class="notice">
  <h2>Send a Donation</h2>
If you'd like to send a donation my way so I can continue to provide free content and or Feed Kittys.
<div markdown="0" class="btn--group">
  <a href="https://www.paypal.me/donaldboulton" onclick="ga('send', 'event', 'link', 'click', 'Send PayPal');" class="btn btn--primary">
    <svg class="icon icon--paypal" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-paypal' | prepend: 'src/assets/icons/' | relative_url }}"></use></svg> Send PayPal Money
  </a>
  <a href="https://cash.me/$DonaldBoulton" onclick="ga('send', 'event', 'link', 'click', 'Send Square Cash');" class="btn btn--primary">Send Square Cash</a>
</div>
</div>
<div class="notice">
  <h3>Go Fund Me! Food and Vets costs for the Stray Cats I feed.</h3>

  <p>Images of the kitty cats are located in my <a href="https://donboulton.com/photography/stray-cat-gallery/" class=".a a">Stray Cat Gallerys</a></p>
  <div markdown="0" class="btn--group">
     <a href="https://funds.gofundme.com/dashboard/stray-cats-in-okc-food-and-vet-cost" onclick="ga('send', 'event', 'link', 'click', 'Go Fund Me');" class="btn btn--primary"><img class="go-fund-me" src="/dest/assets/images/go-fund-me-logo.gif" /></a>
  </div>
  </div>
  <div>Cats are really smart! Check this out!</div>
  <div>{% include youtubePlayer.html id=page.youtubeId %}</div>
</div>
