<div class="page__share__twitter gallery-4-col">
  <span>
    <a rel="noreferrer"href="https://twitter.com/intent/tweet?{% if site.twitter.username %}via={{ site.twitter.username | url_encode }}&{% endif %}text={{ page.title | url_encode }}%20{{ page.url | absolute_url | url_encode }}" title="{{ site.data.ui-text[site.locale].like_on_label | default: 'Tweet On' }} Twitter"><svg class="icon fa-twitter"><use xlink:href="{{ 'icons.svg#icon-twitter' | prepend: 'dest/assets/icons/' | relative_url }}"></use></svg>
    </a>
  </span>
  <span>
    <a rel="noreferrer" href="https://twitter.com/intent/tweet?in_reply_to={{ page.tweet_id }}text={{ page.title | url_encode }}%20{{ page.url | absolute_url | url_encode }}" title="{{ site.data.ui-text[site.locale].like_on_label | default: 'Reply On' }} Twitter"><img src="/dest/assets/images/pages/reply_action-22-24.png" class="icon" alt="Reply">
    </a>
  </span>
  <span>
    <a rel="noreferrer" href="https://twitter.com/intent/retweet?tweet_id={{ page.tweet_id }}{% if site.twitter.username %}via={{ site.twitter.username | url_encode }}&{% endif %}text={{ page.title | url_encode }}%20{{ page.url | absolute_url | url_encode }}" title="{{ site.data.ui-text[site.locale].retweet_on_label | default: 'Retweet On' }} Twitter"><img src="/dest/assets/images/pages/rewteet-action-22-21.png" alt="Retweet" class="icon">
    </a>
  </span>
  <span>
    <a rel="noreferrer" href="https://twitter.com/intent/like?tweet_id={{ page.tweet_id }}{% if site.twitter.username %}via={{ site.twitter.username | url_encode }}&{% endif %}text={{ page.title | url_encode }}%20{{ page.url | absolute_url | url_encode }}" title="{{ site.data.ui-text[site.locale].like_on_label | default: 'Like On' }} Twitter"><img src="/dest/assets/images/pages/like-action-18-24.png" class="icon" alt="Like">
    </a>
  </span>
<div>