<script>
var settings = {
  "async": true,
  "crossDomain": true,
  "url": "http://api.openweathermap.org/data/2.5/forecast?zip=73125%2Cus&appid=8f4c1537b5fad3b111dae7b441fd0937&units=imperial",
  "method": "GET",
}

$.ajax(settings).done(function (response) {
  console.log(response);

var content = response.temp;
  $("#temp").append(content);
var content = response.wind.speed;
  $("#windSpeed").append(content);
var content = response.rain;
  $("#rainForcast").append(content);
});
</script>

<h1>Weather Page</h1>
<div id="temp">Temp: </div>
<div id="windSpeed">Wind speed: </div>
<div id="fainForcast">Rain Forcast: </div>
<div class="container">
  <div class="gallery-2-col-unjustified">
      <h1 class="text-center">Guntersville, AL</h1>
      <div class="col-sm-6">
          <h2>Current Conditions</h2>
          <h3 id="current"></h3>
      </div>
      <div class="col-sm-6">
          <h2>Forecast</h1>
          <h3 id="forecast"></h2>
      </div>
  </div>
</div>

