---
layout: single
permalink: /photography/
title: Gallerys
redirect_from:
  - /post/2018-02-29-post-gallery-external/
search: true
author: Donald Boulton
author_profile: false
tags:
  - Cats
  - God
category:
  - Gallerys
toc: true
toc_label: "Gallerys"

read_time: false
comments: true
share: true
related: true

sidebar:
  - title: "My Hun Kitty"
    image: /assets/photography/old-cat-gallery/Little-Hun-th.jpg
    image_alt: "Hun Kitty"
    text: "Hun at 3 weaks"
  - title: "Responsibilities"
    text: "I take care of about 20 stray cats in three different parts of OKC and any kitty that comes my way."

header:
  image: /assets/photography/cat-gallery/einstine-1200.jpg
  teaser: /assets/photography/cat-gallery/einstine-th.jpg"
---

{% if include.id %}
  {% assign gallery = page[include.id] %}
{% else %}
  {% assign gallery = page.gallery %}
{% endif %}

{% if gallery.size == 2 %}
  {% assign gallery_layout = 'half' %}
{% elsif gallery.size >= 3 %}
  {% assign gallery_layout = 'third' %}
{% else %}
  {% assign gallery_layout = '' %}
{% endif %}

{% include octo-arm.html %}

<p>Below are my cat and travels gallerys.</p>
<p>Cat Gallerys are broken into my house cats, past cats and stray cats.</p>

<p>Alot of Trave Pics taken from old slides so the quality is not so good, but still memorys reside in them.</p>

{% assign count = 0 %}
  <div class="gallery-3-col"> 
  {% for gallery in site.data.galleries.overview %} 
   <div>
    <h2 class="page__title">{{ gallery.title }}</h2>
    <a href="{{ site.url }}{{ site.baseurl }}/photography/{{ gallery.directory }}">
      <img alt="{{ gallery.title }}" src="{{ site.url }}{{ site.baseurl }}/assets/photography/{% if gallery.picture_path %}{{ gallery.picture_path }}{% else %}{{ gallery.directory }}{% endif %}/{{ gallery.preview.thumbnail }}" />
    </a>
  </div>
  {% endfor %}
</div>

