---
---

<div class="archive">
  <script src="{{ '/assets/js/github/github-widget.js' | absolute_url }}"></script>
  <script src="{{ '/assets/js/github/github-activity.js' | absolute_url }}"></script>
  <div class="widget">
    <script>
      GitHubActivity.feed({
        username: "donaldboulton",
        repository: "DWB", // optional
        selector: "#feed",
        limit: 20 // optional
      })
    </script>
  </div>
  <div id="github-widget" data-user="donaldboulton" data-display="pop_repos,calendar"></div>
</div>