---
---
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.min.css" />

<div class="archive">
  <div class="widget">
    <script>
      GitHubActivity.feed({
        username: "donaldboulton",
        repository: "DWB", // optional
        selector: "#feed",
        limit: 20 // optional
      })
    </script>
  </div>
  <div id="github-widget" data-user="donaldboulton" data-display="pop_repos,calendar"></div>
</div>
<script src="{{ '/assets/js/github/github-widget.js' | absolute_url }}"></script>
<script src="{{ '/assets/js/github/github-activity.js' | absolute_url }}"></script>