{% if site.repository and site.staticman.branch %}
  <script>
    (function ($) {
    var $comments = $('.js-comments');

    $('#new_comment').submit(function () {
      var form = this;

      $(form).addClass('disabled');
      $('#comment-form-submit').html('<svg xmlns="https://www.w3.org/2000/svg" class="fas fa-spinner fa-spin fa-fw" viewBox="0 0 512 512"><path d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z"/></svg> {{ site.data.ui-text[site.locale].loading_label | default: "Loading..." }}');

      $.ajax({
        type: $(this).attr('method'),
        url: $(this).attr('action'),
        data: $(this).serialize(),
        contentType: 'application/x-www-form-urlencoded',
        success: function (data) {
          $('#comment-form-submit').html('{{ site.data.ui-text[site.locale].comment_btn_submitted | default: "Submitted" }}');
          $('.page__comments-form .js-notice').removeClass('notice--danger');
          $('.page__comments-form .js-notice').addClass('notice--success');
          showAlert('{{ site.data.ui-text[site.locale].comment_success_msg | default: "Thanks for your comment! It will show on the site once it has been approved." }}');
        },
        error: function (err) {
          console.log(err);
          $('#comment-form-submit').html('{{ site.data.ui-text[site.locale].comment_btn_submit  | default: "Submit Comment" }}');
          $('.page__comments-form .js-notice').removeClass('notice--success');
          $('.page__comments-form .js-notice').addClass('notice--danger');
          showAlert('{{ site.data.ui-text[site.locale].comment_error_msg | default: "Sorry, there was an error with your submission. Please make sure all required fields have been completed and try again." }}');
          $(form).removeClass('disabled');
        }
      });

      return false;
    });

    function showAlert(message) {
      $('.page__comments-form .js-notice').removeClass('hidden');
      $('.page__comments-form .js-notice-text').html(message);
    }
    })(jQuery);
    var addComment = {
      moveForm: function (commId, parentId, respondId, postId) {
        var div,
          element,
          style,
          cssHidden,
          t = this,
          comm = t.I(commId),
          respond = t.I(respondId),
          cancel = t.I("cancel-comment-reply-link"),
          parent = t.I("comment-replying-to"),
          post = t.I("comment-post-slug"),
          commentForm = respond.getElementsByTagName("form")[0];

        if (!comm || !respond || !cancel || !parent || !commentForm) {
          return;
        }

        t.respondId = respondId;
        postId = postId || false;

        if (!t.I("sm-temp-form-div")) {
          div = document.createElement("div");
          div.id = "sm-temp-form-div";
          div.style.display = "none";
          respond.parentNode.insertBefore(div, respond);
        }

        comm.parentNode.insertBefore(respond, comm.nextSibling);
        if (post && postId) {
          post.value = postId;
        }
        parent.value = parentId;
        cancel.style.display = "";

        cancel.onclick = function () {
          var t = addComment,
            temp = t.I("sm-temp-form-div"),
            respond = t.I(t.respondId);

          if (!temp || !respond) {
            return;
          }

          t.I("comment-replying-to").value = null;
          temp.parentNode.insertBefore(respond, temp);
          temp.parentNode.removeChild(temp);
          this.style.display = "none";
          this.onclick = null;
          return false;
        };

        try {
          for (var i = 0; i < commentForm.elements.length; i++) {
            element = commentForm.elements[i];
            cssHidden = false;

            if ("getComputedStyle" in window) {
              style = window.getComputedStyle(element);
              
            } else if (document.documentElement.currentStyle) {
              style = element.currentStyle;
            }

            if (
              (element.offsetWidth <= 0 && element.offsetHeight <= 0) ||
              style.visibility === "hidden"
            ) {
              cssHidden = true;
            }

            if ("hidden" === element.type || element.disabled || cssHidden) {
              continue;
            }
            element.focus();
            break;
          }
        } catch (er) { }

        return false;
      },

      I: function (id) {
        return document.getElementById(id);
      }
    };
  </script>
{% endif %}