<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<!-- Portfolio Start -->
<section id="portfolio-work">
    <div class="panel">
        <div class="row">
          <div class="group">
            <h1>Build Data</h1>
            <p>Use the Netlify CMS to maintain yaml files which is the source data for creating this chart.</p>

             <canvas id="canvas"></canvas>
          </div>
        </div>
    </div>
</section>

<script>
var chartData = {
            labels: [
            {% for item in site.data.builddata.builds %}
                "{{item.label}}",
            {% endfor %}
                ],
            datasets: [{
                label: 'Builds',
                borderWidth: 1,
                backgroundColor: "rgba(153,255,51,0.6)",
                data: [
                {% for item in site.data.builddata.builds %}
                "{{item.value}}",
                {% endfor %}

                ]
            }]

        };

window.onload = function() {
    var ctx = document.getElementById("canvas").getContext("2d");
    window.myBar = new Chart(ctx, {
        type: 'line',
        data: chartData,
        options: {
            responsive: true,
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'Netlify Builds'
            },
            plugins: {
                datalabels: {
                    formatter: function(value, context) {
                        return context.chart.data.labels[context.dataIndex];
                    }
                }
            }
        }
    });

};
</script>
