---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page__title" class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
    <aside class="sidebar__right" role="complementary" itemscope itemtype="https://schema.org/WPSideBar">
      {% if page.toc %}
         <nav class="toc">
           <header><h4 class="nav__title"><svg class="icon icon--file-alt fa-file-alt" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-file-alt' | prepend: '/build/icons/' | relative_url }}"></use></svg>&nbsp;<span itemprop="name">{{ page.toc_label | default: site.data.ui-text[site.locale].toc_label }}</span></h4></header>
           {% include toc.html sanitize=true html=content h_min=2 h_max=3 class="toc__menu" %}
         </nav>
      {% endif %}
      {% if page.sidenav-gallery == true %}
         {% include sidenav-gallery.html %}
      {% endif %}
      {% if page.sidenav == true %}
         {% include sidenav.html %}
      {% endif %}
      {% if page.reviews == true %}
         {% include reviews-sidebar.html %}
      {% endif %}
      {% if page.reviews-sidebar == true %}
         {% include reviews-sidebar.html %}
      {% endif %}
      {% if page.adds == true %}
         {% include google-adds.html %}
      {% endif %}          
         {% include sidebar-react.html %}
      {% if page.notifications-admin == true %}
        {% include sidebar-subscribe-admin.html %}
      {% endif %}
      {% if page.notifications == true %}
        {% include sidebar-subscribe.html %}
      {% endif %}
    </aside>
  </div>
</div>
