---
layout: compress
---

<!doctype html>

<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
<head>
  {% include head.html %}
  {% include head/custom.html %}
</head>

<body id="style-3" class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}" itemscope itemtype="http://schema.org/WebSite">

  {% include browser-upgrade.html %}
  {% include masthead.html %}

  <div itemscope itemtype="http://schema.org/WebPage">
    <div id="initial-content" class="initial-content">
      {{ content }}
    </div>
  </div>

  {% if site.search == true %}
  <div class="search-content">
    {% include search/search_form.html %}
  </div>
  {% endif %}
  <div class="text-center">
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-7655495105068461"
             data-ad-slot="5601054893"
             data-ad-format="auto"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
  <div class="page__footer">
    <footer>
      {% include footer.html %}
    </footer>
  </div>
  {% include scripts.html %}
  {% include new-window-fix.html %}
</body>
</html>
