Html Webpack Plugin:
<pre>
  Error: ScriptExtHtmlWebpackPlugin: invalid default attribute
  
  - elements.js:14 Object.shouldUpdate
    [DWB]/[script-ext-html-webpack-plugin]/lib/elements.js:14:11
  
  - plugin.js:62 ScriptExtHtmlWebpackPlugin.alterAssetTagsCallback
    [DWB]/[script-ext-html-webpack-plugin]/lib/plugin.js:62:20
  
  - Tapable.js:272 Compilation.applyPluginsAsyncWaterfall
    [DWB]/[tapable]/lib/Tapable.js:272:13
  
  - index.js:686 Promise
    [DWB]/[html-webpack-plugin]/index.js:686:21
  
  - new Promise
  
  - index.js:679 promisedApplyPluginsAsyncWaterfall
    [DWB]/[html-webpack-plugin]/index.js:679:14
  
  - index.js:690 
    [DWB]/[html-webpack-plugin]/index.js:690:55
  
  - index.js:187 Promise.resolve.then.then.then.then.then.then.then.result
    [DWB]/[html-webpack-plugin]/index.js:187:18
  
  
  - next_tick.js:188 process._tickCallback
    internal/process/next_tick.js:188:7
  
</pre>