---
layout: compress
---

<!doctype html>

<html ⚡ lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js" itemscope itemtype="https://schema.org/WebSite">
<head>
  {% include head.html %}
  {% include head/custom.html %}
</head>

<body id="style-3" class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %} auth-false" itemscope itemtype="https://schema.org/WebPage">
  <meta itemprop="url" content="{{ site.url }}{{ page.url }}" />
<noscript><iframe aria-label="google hidden iframe" src="https://www.googletagmanager.com/ns.html?id=GTM-TDPND89"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  {% include masthead.html %}
  <div>
    {% if site.search == true %}
    <div class="search-content">
      {% include search/search_form.html %}
    </div>
    {% endif %}
    <div id="initial-content" class="initial-content" data-pjax-container>
      {{ content }}
    </div>
  </div>
  <div class="page__footer" itemscope itemtype="https://schema.org/WPFooter">
    <footer>
      {% include footer.html %}
    </footer>
  </div>
  {% include scripts.html %}
</body>
</html>
