---
layout: single
---
<div class="content">
  <div class="product-container">		
	  <div class="product-details" id="add">
		<h3>{{ page.name }}</h3>
		{{ page.description_markdown | markdownify }}
		{{ content }}
		{% include product-styles.html product=page %}
		<h4>${{ page.price }}</h4>
		<div>
			<button class="snipcart-add-item"
      data-api-key="NDhkOWU1ZGQtNWQyZi00ZDVmLThmYmEtZDFiYmJhYzdmYTE3NjM2NjE0Nzc1OTQ2NzMzMTU5"
      data-item-name="{{ product.name }}"
      data-item-id="{{ product.sku }}"
      data-item-image="{{ product.image }}"
      data-item-description="{{ product.description_markdown }}"
      data-item-custom1-name="Size"
      data-item-custom1-options="{{ product.sizes | join: '|' }}"
      data-item-custom1-value="Medium"
      data-item-custom2-name="Color"
      data-item-custom2-options="{{ colors }}"
      data-cart-custom3-name="Do you accept our terms?"
      data-cart-custom3-options="true|false"
      data-cart-custom3-required="true"
      data-item-url="{{ site.baseurl }}{{ product.url }}"
      data-item-price="{{ product.price }}">
      Buy it for $ {{ product.price }} 
      </button>
		</div>
	  </div>
	</div>
</div>
