---
layout: single
sidenav: true
side_react: true
adds: true
cookies: true
---

<div class="product-details gallery-2-col">    
  <div itemscope itemtype="http://schema.org/Product"><img src="{{ page.image }}" alt="{{ page.name }}" class="product-thumbnail"/></div>  
  <div class="product-description">
    <div itemprop="name" class="text-center">{{ page.name }}</div>
    <p itemprop="description" class="text-center">{{ page.description | markdownify }}</p>      
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <span itemprop="priceCurrency" content="USD">Price $ </span><span itemprop="price" content="{{ page.price }}">{{ page.price }},</span>
      <link itemprop="availability" href="http://schema.org/InStock" />In stock&nbsp;<span itemprop="numberOfItems">{{ page.stock }}</span>&nbsp;- items
    </div>
  </div>
  <div class="form-group">{% include product-styles.html product=product %}</div>
  <div class="product-controls">
      <div>Please Agree to Our <a href="https://donboulton.com/terms#purchases">Terms</a>&nbsp;<abbr class="abbr" title="Required">&nbsp;*&nbsp;</abbr></div>
		<div class="enable-push">
				<div class="toggle-switch">
					<input aria-label="Terms and Conditions" id="options" name="options" type="checkbox" />
					<label for="options"></label>
				</div>
			</div>
      <div class="form-group">    
        <button class="snipcart-add-item"
        data-item-name="{{ page.name }}"
        data-item-id="{{ page.sku }}"
        data-item-image="{{ page.image }}"
        data-item-description="{{ page.desc }}"
        data-item-custom1-name="Size"
        data-item-custom1-options="{{ page.sizes | join: '|' }}"
        data-item-custom1-value="Medium"
        data-item-url="{{ page.url }}"
        data-item-price="{{ page.price }}">
        Donate for $ {{ page.price }} 
        </button>
      </div>
  </div>
</div>  

<div class=clear-both></div>
{% include product-reviews.html %}
