---
layout: single
sidenav: true
side_react: true
adds: true
cookies: true
---

<div class="product-details gallery-2-col">    
  <div itemscope itemtype="http://schema.org/Product">
    <img itemprop="image" src="{{ page.image }}" alt="{{ page.name }}" class="product-thumbnail"/></div>  
  <div class="product-description">
    <h2 itemprop="name" class="text-center page__title">{{ page.name }}</h2>
    <p itemprop="description" class="text-center">{{ page.description | markdownify }}</p>      
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <span itemprop="priceCurrency" content="USD">Price $ </span><span itemprop="price" content="{{ page.price }}">{{ page.price }},</span>
      <link itemprop="availability" href="https://schema.org/InStock" />In stock&nbsp;<span itemprop="numberOfItems">{{ page.stock }}</span>&nbsp;- items
    </div>
  </div>
  <div class="form-group">{% include product-styles.html product=product %}</div>
  <div class="product-controls">
      <div>Please Agree to Our <a href="https://donboulton.com/terms#purchases">Terms</a>&nbsp;<abbr class="abbr" title="Required">&nbsp;*&nbsp;</abbr></div>
		<div class="enable-push">
				<div class="toggle-switch">
					<input aria-label="Terms and Conditions" id="terms" name="terms" type="checkbox" />
					<label for="terms"></label>
				</div>
			</div>
      <div class="form-group">
          {% assign colors = "" %}
          {% for style in include.product.styles %}
            {% assign colors = colors | append: '|' | append: style.name %}
          {% endfor %}
          {% assign colors = colors | remove_first: '|' %}
        <button class="snipcart-add-item" id="my-button"
        data-item-name="{{ page.name }}"
        data-item-id="{{ page.sku }}"
        data-item-image="{{ page.image }}"
        data-item-description="{{ page.desc }}"
        data-item-url="{{ page.url }}"
        data-item-custom1-name="Size"
        data-item-custom1-options="{{ page.sizes | join: '|' }}"
        data-item-custom1-value="Medium"
        data-item-custom2-name="Color"
        data-item-custom2-options="{{ page.colors | join: '|' }}"
        data-item-custom3-name="Stock"
        data-item-custom3-options="{{ page.stock }}"
        data-cart-custom4-name="terms"
        data-cart-custom4-options="true|false"
        data-cart-custom4-required="true"
        data-item-quantity="1"
        data-item-price="{{ page.price }}">
        Donate for $ {{ page.price }} 
        </button>
      </div>
  </div>
</div>  
<div class=clear-both></div>
{% include product-reviews.html %}
