---
layout: single
---
<div class="content">
  <div class="product-container">
		{% include product-styles.html product=page %}
	  <div class="product-details" id="add">
		<h3>{{ page.name }}</h3>
		{{ page.description_markdown | markdownify }}
		{{ content }}
		<h4>${{ page.price }}</h4>
		<div>
				<button class="snipcart-add-item"
				data-item-name="{{ product.name }}"
				data-item-id="{{ product.sku }}"
				data-item-image="{{ product.image }}"
				data-item-description="{{ product.description }}"
				data-item-custom1-name="Size"
				data-item-custom1-options="{{ product.sizes | join: '|' }}"
				data-item-custom1-value="Medium"
				data-item-custom2-name="Color"
				data-item-custom2-options="{{ colors }}" 
				data-item-url="{{ product.url }}"
				data-item-price="{{ product.price }}">
				Buy it for $ {{ product.price }} 
				</button>
		</div>
	  </div>
	</div>
</div>
