.pluginFontHelvetica, .pluginFontHelvetica button, .pluginFontHelvetica input, .pluginFontHelvetica label, .pluginFontHelvetica select, .pluginFontHelvetica td, .pluginFontHelvetica textarea {
  font-family: Helvetica, Arial, sans-serif;
  color: #fff!important;
}

.UFICommentActorName {
  font-weight: bold;
  white-space: nowrap;
  color: #1faaaa;
}