#github-widget {
  .boxed-group {
    > h3 {
      background-color: transparent;
      margin: 0px;
      border-radius: 3px 3px 0px 0px;
      border-width: 1px 1px 0px;
      border-style: solid solid none;
      border-color: #666;
      border-image: none;
      padding: 9px 10px 10px;
      font-size: 14px;
      font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
      font-weight: bold;
      line-height: 17px;
      display: block;
    }

    margin: 5px;
  }

  .boxed-group-inner {
    margin: 0;
    padding: 0px;
    background: #333 none repeat scroll 0% 0%;
    border: 1px solid #666;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #666;
    font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 13px;
    list-style: outside none none;
    overflow: auto;
  }

  ul {
    li {
      list-style: outside none none;

      a {
        border-top: 0px none;
        position: relative;
        display: block;
        padding: 6px 64px 6px 30px;
        font-size: 14px;
        border-top: 1px solid #666;
        color: #4078C0;
        text-decoration: none;

        .repo-and-owner {
          span {
            color: #4078C0;
            font-weight: bold;
          }
        }

        .mini-repo-list-item {
          .repo-and-owner {
            display: inline-block;
            max-width: 125px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: top;
          }
        }
      }
    }
  }

  .mini-repo-list {
    > li {
      &:first-child {
        .mini-repo-list-item {
          border-top: 0 solid #666;
        }
      }
    }
  }

  .no-description {
    .mini-repo-list-item {
      padding-top: 17px;
      padding-bottom: 16px;
    }
  }

  .mini-repo-list-item {
    .repo-icon {
      float: left;
      margin-top: 2px;
      margin-left: -20px;
      color: #ccc;
    }

    .stars {
      position: absolute;
      top: 0px;
      right: 10px;
      margin-top: 16px;
      font-size: 12px;
      color: #ccc;
    }

    .repo-description {
      display: block;
      max-width: 100%;
      font-size: 12px;
      color: #ccc;
      line-height: 21px;
    }
  }

  .contrib-footer {
    font-size: 11px;
    padding: 0 10px 12px;
  }

  .text-muted {
    color: #767676;
  }

  .left {
    float: left;
  }

  .contrib-legend {
    float: right;

    .legend {
      display: inline-block;
      list-style: outside none none;
      margin: 0px 5px;
      position: relative;
      bottom: -1px;
      padding: 0;

      li {
        display: inline-block;
        width: 10px;
        height: 10px;
      }
    }
  }

  .contrib-column {
    padding: 15px 0px;
    text-align: center;
    border-left: 1px solid #666;
    border-top: 1px solid #666;
    font-size: 11px;
  }

  .contrib-column-first {
    border-left: 0px none;
  }

  .table-column {
    display: table-cell;
    width: 1%;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: top;
  }

  .contrib-number {
    font-weight: 300;
    line-height: 1.3em;
    font-size: 24px;
    display: block;
    color: #ccc;
  }

  .calendar-graph {
    text.month {
      font-size: 10px;
      fill: #aaa;
    }

    text.wday {
      fill: #ccc;
      font-size: 9px;
    }
  }

  .clearfix {
    &:after {
      display: table;
      clear: both;
      content: "";
    }
  }

  .pinned-repos-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    list-style: none;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  .pinned-repo-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 339px;

    #github-widget {
      .pinned-repository-handle {
        padding-top: 1px;
        color: #767676;

        &:hover {
          cursor: -webkit-grab;
          cursor: grab;
        }
      }
    }
  }

  .pinned-repo-item.is-dragging {
    cursor: -webkit-grabbing;
    cursor: grabbing;
    background-color: #f2f8fa;

    #github-widget {
      .pinned-repository-handle {
        cursor: -webkit-grabbing;
        cursor: grabbing;
      }
    }
  }

  .pinned-repo-item.sortable-ghost {
    background-color: #f2f8fa;
    opacity: 0;
  }

  .pinned-repo-item.empty {
    border-style: dashed;
    border-width: 1px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .pinned-repo-item-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .pinned-repo-desc {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
  }

  .pinned-repo-language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 12px;
    border-radius: 50%;
  }

  .rounded-1 {
    border-radius: 3px !important;
  }

  .border-gray-dark {
    border-color: #767676 !important;
  }

  .border {
    border: 1px #767676 solid !important;
  }

  .p-3 {
    padding: 12px !important;
  }

  .mb-3 {
    margin-bottom: 12px !important;
  }
}

.boxed-group {
  .heading {
    background-color: transparent;
    margin: 0px;
    border-radius: 3px 3px 0px 0px;
    border-width: 1px 1px 0px;
    border-style: solid solid none;
    border-color: #666;
    border-image: none;
    padding: 9px 10px 10px;
    font-size: 14px;
    font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: bold;
    line-height: 17px;
    display: block;
  }
}
