.rating-star {
	width: 24px;
	color: $rating-color;
	vertical-align: middle;
}
.rating-radio {
	display: none;
	&+.rating-radio-label {
		.rating-radio-star--off {
			display: none;
		}
	}
	&:checked {
		&~.rating-radio-label {
			.rating-radio-star--on {
				display: none;
			}
			.rating-radio-star--off {
				display: inline-block;
			}
		}
	}
}
.rating-select {
	margin-bottom: .5em;
}
.field-group {
	display: block;
}
