.comments__wrapper {
  position: relative;
  margin-bottom: 1.5rem;
  padding: 20px;
  color: #fff;

  a {
    color: $text-color;
  }
}

h5.comments__title {
  margin: 0;
  font-size: 1.563rem;
  font-weight: bold;
}

.comments__title-summary {
  font-size: 1.25rem;
  font-weight: bold;
}

.comments__list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
    font-weight: bold;
    list-style: none;
  }
}

.comments__message {
  a {
    color: $text-color;
  }
}
