#style-3 {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #000000;
  }

  &::-webkit-scrollbar-track:horizontal {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar:horizontal {
    width: 6px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb:horizontal {
    background-color: #000000;
  }

  &::-webkit-scrollbar-corner {
    display: none;
    height: 0px;
    width: 0px;
  }
}
