.scrolltop.btn {
	position: fixed;
	bottom: 2vw;
	right: calc(-2vw - 40px);
	z-index: 100;
	font-size: 2em;
	text-align: center;
	border-bottom: 0;
}
.scrolltop.on {
	right: 2vw;
}
#initial-content {
	>div.initial-content {
		&:first-child {
			padding-top: 3em;
		}
	}
	>div.grid {
		&:first-child {
			&:not(.invert) {
				padding-top: 3em;
			}
		}
	}
}